<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="white-space:pre-wrap;">
    TICKET - <%= @category %>
    
    created at: <%= @created_at %>
    -------------------------------------------------------
    
    Username: <%= @username %>
    
    Subject: <%= @subject %>
    
    Description:
    <%= @description %>
  </body>
</html>