<div class="full-display container-fluid">
  <div class="body">
    <h1 class="text-center w-100"><strong>A NEW UNIVERSE AWAITS</strong></h1>
    <h3 class="text-center w-100 mb-3">WRITE YOUR OWN STORY</h3>
    <h1 class="text-center w-100">
      <a class="btn btn-primary btn-xl" href="#more_information"><%= I18n.t('game.more_information') %></a>
      <%= link_to I18n.t('game.play_for_free'), new_user_registration_path, class: 'btn btn-primary btn-xl' %>
    </h1>
  </div>
  <div class="footer text-center" style="color: black">
    ESA, NASA and L. Calçada (ESO)
  </div>
</div>

<div class="section one container-fluid" id="more_information">
  <div class="body">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2><strong>Explore The Universe And Its Endless Opportunities</strong></h2>
        <h5>Experience Infinite Possibilities And Freedom As You Grow To Become The Most Powerful Player Ever Known!</h5>
      </div>
      <div class="col-lg-4 offset-lg-2 mb-3">
        <div class="card black-card">
          <h5 class="card-header text-center">Become a Merchant</h5>
          <div class="card-body">
            <h5 class="mb-3">You know the galaxy and its corners like the back of your hand. You make great profit in buying items at one place and selling them at another.</h5>
            <h5 class="mb-5">You may also help other big alliances to move their cargo from one place to another if the price is right.</h5>
            <%= image_tag('home/merchant-home.png', class: 'border-round') %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card black-card">
          <h5 class="card-header text-center">Become a Miner</h5>
          <div class="card-body">
            <h5 class="mb-3">You have specialized in the different materials of asteroids and know where to get the best price for them.</h5>
            <h5 class="mb-5">You are also on a journey to find the most valuable asteroids ever known to humanity.</h5>
            <%= image_tag('home/asteroids-home.png') %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2 mb-3">
        <div class="card black-card">
          <h5 class="card-header text-center">Become a Manufacturer</h5>
          <div class="card-body">
            <h5 class="mb-3">You are a skilled craftsman who creates everything that other pilots currently need the most.</h5>
            <h5 class="mb-5">You have come a long way to achieve a very high success rate on even your most powerful creations.</h5>
            <%= image_tag('home/factory-home.gif', class: 'border-round') %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card black-card">
          <h5 class="card-header text-center">Become a Pirate</h5>
          <div class="card-body">
            <h5 class="mb-3">You are a dangerous person that others don't even want to meet in their darkest dreams.</h5>
            <h5 class="mb-5">You know when to go in for a good catch and when to remain silently in the back.</h5>
            <%= image_tag('home/combat-home.png', class: 'border-round') %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-4 mb-3">
        <div class="card black-card">
          <h5 class="card-header text-center">Become a Explorer</h5>
          <div class="card-body">
            <h5 class="mb-3">You are on a constant lookout for the most valuable goods found in abandoned structures in space.</h5>
            <h5 class="mb-5">You jump from system to system and scan for hidden exploration sites containing lots of treasure.</h5>
            <%= image_tag('home/exploration-home.png', class: 'border-round' ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer text-center" style="color: black">
    ESO/M. Kornmesser
  </div>
</div>

<div class="section two container-fluid">
  <div class="body">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2><strong>100% Community Driven</strong></h2>
        <h5>Be A Part Of An Awesome Community And Help Shaping The Future Of The Game!</h5>
      </div>
      <div class="col-lg-4 offset-lg-2 mb-3">
        <div class="card black-card">
          <h5 class="card-header text-center">Community Polls</h5>
          <div class="card-body">
            <h5 class="mb-3">Every major gameplay / ui change has to be approved by the community in order to get into the game.</h5>
            <h5 class="mb-5">A consent of at least 75 percent is required. The community can also see on what specific poll I am working on at the moment.</h5>
            <%= image_tag('home/polls-home.png', class: 'border-round') %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card black-card">
          <h5 class="card-header text-center">Dedicated Forum</h5>
          <div class="card-body">
            <h5 class="mb-3">Stellar Invictus has its own dedicated forum for its community to discuss every single aspect of the game.</h5>
            <h5 class="mb-5">You can also give new suggestions or ideas for the game which will then result in ingame polls.</h5>
            <%= image_tag('home/forums-home.png', class: 'border-round') %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer text-center" style="color: black">
    NASA, ESA, L. Calçada
  </div>
</div>