<div class="card black-card map-card">
  <h5 class="card-header"><%= I18n.t('navbar.map') %></h5>
  <div class="card-body" id="map">
    
  </div>
</div>

<style>
  .map-card .card-body {
    overflow: hidden;
    padding: 0;
  }
</style>

<script>
  // create an array with nodes
    var nodes = new vis.DataSet([
      <% System.all.each do |sys| %>
        <% color = ["rgba(81, 203, 238, 1)", "#FF8C00", "red"] %>
        {id: <%= sys.id %>, label: "<%= sys.name %>", image: "<%= image_url("planets/star_#{sys.security_status}.png") %>", font: {<%= "size: 20, color: 'yellow'".html_safe if current_user.system == sys %>} },
      <% end %>
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
      <% Jumpgate.includes(:origin => :system, :destination => :system).all.each do |jg| %>
        {from: <%= jg.origin.system.id %>, to: <%= jg.destination.system.id %>},
      <% end %>
    ]);

    // create a network
    var container = document.getElementById('map');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    
    // set options
    var options = {
      autoResize: true,
      height: '600px',
      width: '100%',
      nodes: {
        shape: 'image',
        size: 20,
        fixed: true,
        font: { color: 'white' }
      },
      edges: {
        color: { color: 'grey' }
      },
      physics: { enabled: false },
      layout: { randomSeed: 123 }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>
