<div class="card black-card map-card">
  <h5 class="card-header"><%= I18n.t('navbar.map') %></h5>
  <div class="speech-bubble"></div>
  <div class="card-body" id="map">
    
  </div>
</div>

<style>
  #map {
    overflow: hidden;
    padding: 0;
  }
  
  .speech-bubble {
    z-index: 10;
    display: block;
    top: -1000px;
    left: -1000px;
  	position: absolute;
  	background: #5d5d5d;
  	border-radius: .4em;
  }
  
  .speech-bubble:after {
  	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 50%;
  	width: 0;
  	height: 0;
  	border: 20px solid transparent;
  	border-top-color: #191919;
  	border-bottom: 0;
  	margin-left: -20px;
  	margin-bottom: -20px;
  }
</style>

<script>
  // create an array with nodes
    var nodes = new vis.DataSet([
      <% System.all.each do |sys| %>
        <% color = ["rgba(81, 203, 238, 1)", "#FF8C00", "red"] %>
        {id: <%= sys.id %>, label: "<%= sys.get_faction.get_ticker if sys.get_faction %> <%= sys.name %>", image: "<%= image_url("planets/star_#{sys.security_status}.png") %>", font: {<%= "size: 20, color: 'yellow'".html_safe if current_user.system == sys %>} },
      <% end %>
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
      <% cache Jumpgate do %>
        <% Jumpgate.includes(:origin => :system, :destination => :system).all.each do |jg| %>
          {id: <%= jg.id %>, from: <%= jg.origin.system.id %>, to: <%= jg.destination.system.id %>},
        <% end %>
      <% end %>
    ]);

    // create a network
    var container = document.getElementById('map');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    
    // set options
    var options = {
      autoResize: true,
      height: '600px',
      width: '100%',
      nodes: {
        shape: 'image',
        size: 20,
        fixed: true,
        font: { color: 'white' }
      },
      edges: {
        color: { color: 'grey' },
        selectionWidth: 0
      },
      physics: { enabled: false },
      // Seeds: 626344
      layout: { randomSeed: 576136 },
      interaction: { selectConnectedEdges: false }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
    
    // get info from node on select
    network.on("click", function (params) {
      if (params.nodes) {
        var id = params.nodes[0]
        var position = network.canvasToDOM(network.getPositions([id])[id])
        
        $.get('system/info', {id: id}, function(data) {
          $('.speech-bubble').html(data);
          setTimeout(function() { 
            $('.speech-bubble').css({position: 'absolute', top: position.y-$('.speech-bubble').height()+10, left: position.x-($('.speech-bubble').width() / 2)}); 
          }, 10)
        }); 
      }
    });
    
    network.on("zoom", function () {
      $('.speech-bubble').css({position: 'absolute', top: -1000, left: -1000, display: 'block'}); 
    });
    
    network.on("dragStart", function () {
      $('.speech-bubble').css({position: 'absolute', top: -1000, left: -1000, display: 'block'}); 
    });

    // create route button
    $('.speech-bubble').on('click', '.get-route-btn', function() {
      var id = $(this).data('id');
      loading_animation($(this));
      var button = $(this);
      var html = $(this).html();
      
      $.post('system/route', {id: id}, function(data) {
        if ($('.route-card').length) {
          $('.route-card').remove();
        }
        $(data.card).insertBefore($('.map-card'));
        $.each(data.old_route, function(index, value) {
          var edge = edges.get(value);
          edges.remove(value);
          edges.add({id: value, from: edge.from, to: edge.to, color: { color: 'grey' }, width: 1});
        });
        $.each(data.route, function(index, value) {
          var edge = edges.get(value);
          edges.remove(value);
          edges.add({id: value, from: edge.from, to: edge.to, color: { color: 'red' }, width: 5});
        });
        button.html(html);
        $('.speech-bubble').css({position: 'absolute', top: -1000, left: -1000, display: 'block'}); 
      });
    });
    
    // remove route button
    $('#app-container').on('click', '.remove-route-btn', function(){
      loading_animation($(this));
      $.post('system/clear_route', function(data) {
        $('.route-card').remove();
        $.each(data.route, function(index, value) {
          var edge = edges.get(value);
          edges.remove(value);
          edges.add({id: value, from: edge.from, to: edge.to, color: { color: 'grey' }, width: 1});
        });
      });
    });
</script>
