<% if current_user.route != [] %>
  <div class="card black-card route-card mb-3">
    <h5 class="card-header">
      <%= I18n.t('routing.route') %>
      <button class="btn btn-outline-danger float-right remove-route-btn"><%= I18n.t('routing.remove_route') %></button>
    </h5>
    <div class="card-body">
      <% path = [] %>
      <% current_user.route.each_with_index do |jg, index| %>
        <% jg = Jumpgate.find(jg) %>
        
        <% if index == 0 %>
          <% if jg.origin.system == current_user.system %>
            <% path << jg.destination.system.name %>
            <%= jg.origin.system.name %> -> <%= jg.destination.system.name %>
          <% else %>
            <% path << jg.origin.system.name %>
            <%= jg.destination.system.name %> -> <%= jg.origin.system.name %>
          <% end %>
        <% else %>
          <% if jg.destination.system.name == path.last %>
            <% path << jg.origin.system.name %>
            -> <%= jg.origin.system.name %>
          <% else %>
            <% path << jg.destination.system.name %>
            -> <%= jg.destination.system.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="card black-card map-card mb-3">
  <h5 class="card-header"><%= I18n.t('navbar.map') %></h5>
  <div class="card-body" id="map">
    
  </div>
</div>

<div class="results mb-3">
  
</div>

<style>
  .map-card .card-body {
    overflow: hidden;
    padding: 0;
  }
</style>

<script>
  // create an array with nodes
    var nodes = new vis.DataSet([
      <% System.all.each do |sys| %>
        <% color = ["rgba(81, 203, 238, 1)", "#FF8C00", "red"] %>
        {id: <%= sys.id %>, label: "<%= sys.get_faction.get_ticker if sys.get_faction %> <%= sys.name %>", image: "<%= image_url("planets/star_#{sys.security_status}.png") %>", font: {<%= "size: 20, color: 'yellow'".html_safe if current_user.system == sys %>} },
      <% end %>
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
      <% cache Jumpgate do %>
        <% Jumpgate.includes(:origin => :system, :destination => :system).all.each do |jg| %>
          {id: <%= jg.id %>, from: <%= jg.origin.system.id %>, to: <%= jg.destination.system.id %>},
        <% end %>
      <% end %>
    ]);

    // create a network
    var container = document.getElementById('map');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    
    // set options
    var options = {
      autoResize: true,
      height: '600px',
      width: '100%',
      nodes: {
        shape: 'image',
        size: 20,
        fixed: true,
        font: { color: 'white' }
      },
      edges: {
        color: { color: 'grey' },
        selectionWidth: 0
      },
      physics: { enabled: false },
      // Seeds: 626344
      layout: { randomSeed: 576136 },
      interaction: { selectConnectedEdges: false }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
    
    // get info from node on select
    network.on("selectNode", function (params) {
      var id = this.getNodeAt(params.pointer.DOM);
      
      $.get('system/info', {id: id}, function(data) {
        $('.results').html(data);
      });
    });
    
    // draw route if user has one
    <% if current_user.route %>
      <% current_user.route.each do |step| %>
        var edge = edges.get(<%= step %>);
        edges.remove(<%= step %>);
        edges.add({id: <%= step %>, from: edge.from, to: edge.to, color: { color: 'red' }, width: 5});
      <% end %>
    <% end %>

    // create route button
    $('.results').on('click', '.get-route-btn', function() {
      var id = $(this).data('id');
      
      loading_animation($(this));
      $.post('system/route', {id: id}, function(data) {
        Turbolinks.visit(window.location);
      });
    });
    
    // remove route button
    $('.remove-route-btn').on('click', function(){
      loading_animation($(this));
      $.post('system/clear_route', function() {
        Turbolinks.visit(window.location);
      });
    });
</script>
