<div class="card black-card">
  <h5 class="card-header"><%= I18n.t('support.submit_support_ticket') %></h5>
  <div class="card-body">
    <%= form_tag create_support_ticket_path do %>
    
      <div class="field mb-3">
        <label><%= I18n.t('support.category') %></label>
        <%= select_tag 'ticket[category]', options_for_select(["Account", "Gameplay", "Technical", "Player Report"], "Account"), class: 'form-control' %>
      </div>
    
      <div class="field mb-3">
        <label><%= I18n.t('support.username') %></label>
        <%= text_field_tag 'ticket[username]', current_user.full_name, class: 'form-control', disabled: true %>
      </div>
      
      <div class="field mb-3">
        <label><%= I18n.t('support.subject') %></label>
        <%= text_field_tag 'ticket[subject]', nil, class: 'form-control' %>
      </div>
      
      <div class="field mb-3">
        <label><%= I18n.t('support.description') %></label>
        <%= text_area_tag 'ticket[description]', nil, class: 'form-control', style: 'height: 200px' %>
      </div>
      
      <%= submit_tag 'submit', :value => I18n.t('support.submit'), class: 'btn btn-outline-primary', id: 'support-ticket-submit-btn' %>
    <% end %>
  </div>
</div>