<ul class="nav nav-tabs" role="tablist" data-turbolinks-permanent>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#local-chat" role="tab"><%= I18n.t('chat.local') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#global-chat" role="tab"><%= I18n.t('chat.global') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#log-chat" role="tab"><%= I18n.t('chat.log') %></a>
  </li>
  <span class="ml-auto mt-5px" id="server_time"><%= I18n.t('chat.server_time') %> </span>
</ul>
<div class="tab-content mt-5px">
  <div class="tab-pane fade show active" id="local-chat" role="tabpanel">
    <table class="table table-striped table-bordered">
      <tbody>
        <% @local_messages.each do |msg| %>
          <%= render partial: 'chat_messages/message', locals: { message: msg } %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="global-chat" role="tabpanel">
    <table class="table table-striped table-bordered">
      <tbody>
        <% @global_messages.each do |msg| %>
          <%= render partial: 'chat_messages/message', locals: { message: msg } %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="log-chat" role="tabpanel">
    <table class="table table-striped table-bordered">
      <tbody>
        <!-- TODO -->
      </tbody>
    </table>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" id="chat_msg" placeholder="Message">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="chat_send">Send</button>
    </div>
  </div>
</div>