<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" data-target="#local-chat" href="#0" role="tab"><%= I18n.t('chat.local') %> (<span id="system-player-count"><%= @system_users.count %></span>)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" data-target="#global-chat" href="#0" role="tab"><%= I18n.t('chat.global') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" data-target="#log" href="#0" role="tab"><%= I18n.t('chat.log') %></a>
  </li>
  <% if current_user.chat_rooms.present? %>
    <% current_user.chat_rooms.each do |room| %>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" data-target="#chatroom-<%= room.identifier %>" href="#0" role="tab">
          <%= room.title %>&nbsp;&nbsp;
          <button class="btn btn-outline-danger close-chat-btn" style="padding: 0rem 0.3rem;line-height: 1.3;" data-id="<%= room.identifier %>">
            <i class="fa fa-times fa-sm">
          </i></button>
        </a>
      </li>
    <% end %>
  <% end %>
  <button class="btn btn-outline-primary btn-sm mt-5px" data-toggle="modal" data-target="#join-chatroom-modal">
    <i class="fa fa-plus"></i>
  </button>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="local-chat" role="tabpanel">
    <div class="row">
      <div class="col-md-10">
        <table class="table table-striped table-bordered">
          <tbody>
            <% @local_messages.each do |msg| %>
              <%= render partial: 'chat_messages/message', locals: { message: msg } %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <div class="outer" id="system-players">
          <% map_and_sort(@system_users).each do |key, value| %>
            <div>
              <a class='player-modal' href="#" data-id="<%= value %>"><%= key %></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="global-chat" role="tabpanel">
    <table class="table table-striped table-bordered mt-5px">
      <tbody>
        <% @global_messages.each do |msg| %>
          <%= render partial: 'chat_messages/message', locals: { message: msg } %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="log" role="tabpanel">
    <table class="table table-striped table-bordered mt-5px">
      <tbody>
      </tbody>
    </table>
  </div>
  <% if current_user.chat_rooms.present? %>
    <% current_user.chat_rooms.each do |room| %>
      <div class="tab-pane fade custom-chat" id="chatroom-<%= room.identifier %>" role="tabpanel">
        <div class="row">
          <div class="col-md-10">
            <table class="table table-striped table-bordered">
              <tbody>
                <% room.chat_messages.includes(:user).each do |msg| %>
                  <%= render partial: 'chat_messages/message', locals: { message: msg } %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-md-2">
            <div class="w-100">
              <span>ID: <%= room.identifier %></span>
            </div>
            <div class="outer" id="chatroom-<%= room.identifier %>-players">
              <% map_and_sort(room.users.where("online > 0")).each do |key, value| %>
                <div class="pt-2px">
                  <a class='player-modal' href="#" data-id="<%= value %>">
                    <%= key %>
                    <% if room.fleet %>
                      <a class="btn btn-outline-primary btn-xs warp-btn float-right p-0-5 text-primary" data-uid="<%= value %>"><i class='fa fa-angle-double-right'></i></a>
                    <% end %>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="input-group">
    <input type="text" class="form-control" id="chat_msg" placeholder="Message" maxlength="300">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="chat_send">Send</button>
    </div>
  </div>
</div>

<!-- Join Chat Room Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="join-chatroom-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('chat.join_create_room') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong><%= I18n.t('chat.join_room') %></strong></p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="join-chatroom-modal-join-input" placeholder="<%= I18n.t('chat.room_id') %>">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="join-chatroom-modal-join-btn"><%= I18n.t('chat.join') %></button>
          </div>
        </div>
        <p><strong><%= I18n.t('chat.create_room') %></strong></p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="join-chatroom-modal-create-input" placeholder="<%= I18n.t('chat.room_name') %>">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="join-chatroom-modal-create-btn"><%= I18n.t('chat.create') %></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Chat Rooms JS -->
<script>
  <% if current_user and current_user.chat_rooms.present? %>
    <% current_user.chat_rooms.each do |room| %>
      if (!App['chatroom-<%= room.identifier %>']) {
        App['chatroom-<%= room.identifier %>'] = App.cable.subscriptions.create({
          channel: 'ChatChannel',
          room: 'chatroom-<%= room.identifier %>'
        }, {
          received: function(data) {
            if (data.message) {
              if ($('#chatroom-<%= room.identifier %>').length > 0) {
                $('#chatroom-<%= room.identifier %> table tbody').append(data.message);
                return scrollChats();
              }
            }
            else if (data.method == 'update_players' && data.names) {
              update_players_in_custom_chat("chatroom-<%= room.identifier %>",data.names,data.fleet);
            }
            else if (data.method == 'player_appeared' && ('.players-card').length) {
              reload_players_card();
            }
          },
          send_message: function(message) {
            return this.perform('send_message', {
              message: message,
              room: 'chatroom-<%= room.identifier %>'
            });
          }
        });
      }
    <% end %>
  <% end %>
</script>