<tr class="<%= 'color-yellow' if location.jumpgate? and current_user.route.include?(location.jumpgate.id.to_s) %> <%= 'hidden-site' if location.hidden %>">
  <td><%= image_tag("icons/#{location.location_type}.png") %></td>
  <td class="name"><%= location.get_name %></td>
  <td><%= I18n.t("types.#{location.location_type}") %></td>
  <td>
    <button class="btn btn-outline-primary btn-sm warp-btn", data-id="<%= location.id %>"><i class='fa fa-angle-double-right'></i></button>
    <% if current_user.fleet %>
      <button class="btn btn-outline-info btn-sm warp-btn" data-id="<%= location.id %>" data-fleet="true"><i class='fa fa-angle-double-right'></i></button>
    <% end %>
  </td>
</tr>