<tr class="<%= 'color-yellow' if location.jumpgate? and current_user.route.include?(location.jumpgate.id.to_s) %> <%= 'hidden-site' if location.hidden %>">
  <td><%= image_tag("icons/#{location.location_type}.png") %></td>
  <td class="name"><%= location.get_name %></td>
  <td><%= I18n.t("types.#{location.location_type}") %></td>
  <td><%= link_to "<i class='fa fa-angle-double-right'></i>".html_safe, '#', class: 'btn btn-outline-primary btn-sm warp-btn', data: {id: location.id} %></td>
</tr>