<div class="card black-card players-card">
  <h5 class="card-header"><%= I18n.t('game.players') %></h5>
  <div class="card-body">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th id="img-td"></td>
          <th>Name</td>
          <th id="btn-td"></td>
        </tr>
      </thead>
      <tbody>
        <% @local_users.each do |user| %>
          <% #next if user.id == @current_user.id %>
          <tr>
            <td><%= image_tag('icons/helmet.png') %></td>
            <td><%= user.full_name %></td>
            <td>
              <%= link_to "<i class='fa fa-crosshairs'></i>".html_safe, '#', class: 'btn btn-outline-danger btn-xs' %>
              <%= link_to "<i class='fa fa-info'></i>".html_safe, '#', class: 'btn btn-outline-primary btn-xs player-modal', data: {id: user.id} %>
              <%= link_to "<i class='fa fa-comment-alt'></i>".html_safe, '#', class: 'btn btn-outline-primary btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>