<div class="card black-card players-card" id="players-card">
  <h5 class="card-header"><%= I18n.t('game.players') %></h5>
  <div class="card-body">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th id="img-td"></td>
          <th>Name</td>
          <th><%= I18n.t('ships.ship') %></th>
          <th id="btn-td"></td>
        </tr>
      </thead>
      <tbody>
        <% local_users.each do |user| %>
          <% next if user.id == @current_user.id %>
          <tr>
            <td><%= image_tag('icons/helmet.png') %></td>
            <td class="players-card-name-td"><%= user.full_name %></td>
            <td><%= user.active_spaceship.name %></td>
            <td>
              <%= link_to "<i class='fa fa-crosshairs'></i>".html_safe, '#', class: 'btn btn-outline-warning btn-xs target-player-btn', data: {toggle: 'tooltip', placement: 'top', id: user.id}, title: I18n.t('tooltips.target') %>
              <%= link_to "<i class='fa fa-info'></i>".html_safe, '#', class: 'btn btn-outline-primary btn-xs player-modal', data: {id: user.id, toggle: 'tooltip', placement: 'top'}, title: I18n.t('tooltips.info') %>
              <%= link_to "<i class='fa fa-comment-alt'></i>".html_safe, new_game_mail_path(to: user.full_name), class: 'btn btn-outline-primary btn-xs', data: {toggle: 'tooltip', placement: 'top'}, title: I18n.t('tooltips.message') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>