<h5 class="card-header">
  <div class="row">
    <div class="col-4 text-center">
      <i class="fa fa-dollar-sign"></i>&nbsp;&nbsp;<%= current_user.units %>
    </div>
    <div class="col-4 text-center">
      <% if current_user.active_spaceship %>
        <i class="fa fa-boxes"></i>&nbsp;&nbsp;<%= current_user.active_spaceship.get_weight %> / <%= current_user.active_spaceship.get_storage_capacity %>
      <% end %>
    </div>
    <div class="col-4 text-center">
      <% if current_user.active_spaceship %>
        <i class="fa fa-gem"></i>&nbsp;&nbsp;<%= current_user.active_spaceship.get_septarium %>
      <% end %>
    </div>
    
  </div>
  
  <% if current_user.active_spaceship and current_user.faction %>
    <div class="row mt-5px">
      <% Faction.all.each do |faction| %>
        <% rank = faction.get_rank(current_user) %>
        <div class="col-4 text-center">
          <%= image_tag("factions/#{faction.name.downcase.gsub(' ', '_')}.svg", style: 'height:20px') %>
          &nbsp;<%= current_user["reputation_#{faction.id}"].round(2) %>
        </div>
      <% end %>
    </div>
  <% end %>
</h5>