<div class="row">
  <div class="col-md-6 row mobile-mb-10">
    <div class="col-6 player-space-ship" data-ship-image="<%= image_path("ships/#{ship_vars['image']}") %>">
    </div>
    <div class="col-6 text-left">
      <div class="mt-5px">
        <span><%= current_user.full_name %></span><br>
        <span id="own-ship-health"><%= I18n.t('ships.hp').upcase %>: <%= current_user.active_spaceship.hp %></span><br>
        <span><%= I18n.t('ships.defense').upcase %>: <%= ship_vars['defense'] %></span><br>
        <span><%= I18n.t('ships.power').upcase %>: <%= ship_vars['power'] %></span>
      </div>
    </div>
    <div class="col-12 mt-3 pl-0">
      <%= link_to I18n.t('ships.info'), ship_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
  <div class="col-md-6 row">
    <% if current_user.target_id %>
      <%= render 'game/targets/player' %>
    <% elsif current_user.mining_target_id %>
      <%= render 'game/targets/mining' %>
    <% elsif current_user.npc_target_id %>
      <%= render 'game/targets/npc' %>
    <% else %>
      <div class="col-6 enemy-space-ship">
      </div>
      <div class="col-6 text-left">
        <div class="mt-5px">
        </div>
      </div>
      <div class="col-12 mt-3 pl-0">
      </div>
    <% end %>
  </div>
</div>