<h4 class="text-white">
    <span class="bg-black text-span">
        <%= I18n.t('game.current_system') %>
        <%= current_user.system.name.upcase %>
        
        <% if current_user.system.locations.where(location_type: :station).first.faction %>
        - <%= current_user.system.locations.where(location_type: :station).first.faction.get_ticker %>
        <% end %>
    </span>
</h4>

<h4 class="text-white"><span class="bg-black text-span"><%= I18n.t('game.current_sec_level') %> <span class="color-sec-<%= current_user.system.security_status %>"><%= current_user.system.security_status.upcase %></span></span></h4>