<% @locations.each do |loc| %>
  <% location = Location.find(loc) %>
  <% ships = Spaceship.where(user: current_user, location: location) %>
  <% items = location.get_items(current_user.id) %>
  
  <div class="card black-card">
    <h5 class="card-header">
      <%= location.system.name %> - <%= location.get_name %> (<%= ships.count + items.count %>)
      <div class="float-right">
        <a data-toggle="collapse" data-target="#collapse-asset-<%= loc %>" href="#0">
          <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-right"></i></div>
        </a>
      </div>
    </h5>
    <div class="collapse" id="collapse-asset-<%= loc %>">
      <div class="card-body">
        <% if ships.count > 0 %>
          <h5>Ships</h5>
          <% ships.each do |ship| %>
            <%= ship.name %><br>
          <% end %>
        <% end %>
        
        <% if items.count > 0 %>
          <h5>Items</h5>
          <% items.each do |key, value| %>
            <%= value %>&times; <%= get_item_attribute(key, 'name') %><br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>