<div class="card card-body system-card mb-3">
  <%= render partial: 'game/system_card' %>
</div>

<div class="card black-card mb-3 player-info-card">
  <%= render 'game/player_info' %>
</div>

<div class="card black-card mb-3 ship-card">
  <div class="card-body">
    <%= render partial: 'game/ship_info', locals: {ship_vars: @ship_vars} %>
  </div>
</div>

<div class="card black-card mb-3 chat-card">
  <h5 class="card-header">
    <%= I18n.t('game.chat') %>
    <div class="float-right">
      <a class="btn btn-xs btn-outline-primary p-0-5 text-primary" onclick="window.open('/game/chat?popup=true',null,'height=500,width=800')"><i class="fa fa-expand-arrows-alt"></i></a>
      <a data-toggle="collapse" data-target="#collapse-chat" href="#0">
        <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-down"></i></div>
      </a>
    </div>
  </h5>
  <div class="collapse show" id="collapse-chat">
    <div class="card-body">
      <%= render partial: 'game/chat', locals: {local_messages: @local_messages, system_users: @system_users, global_messages: @global_messages} %>
    </div>
  </div>
</div>

<div class="row game-card-row">
  <div class="col-lg-4 mb-3">
    <%= render partial: 'game/locations' %>
  </div>
  <div class="col-lg-8 mb-3">
    <%= render partial: 'game/players', locals: {local_users: @local_users} %>
  </div>
</div>

<%= render 'game/modals' %>

<script>
  <% if current_user and current_user.reload.in_warp %>
    doWarp(10, "WARPING");
  <% end %>
</script>