<div class="card card-body system-card">
    <h4 class="text-white"><span class="bg-black text-span"><%= I18n.t('game.current_location') %> <%= 'JITA' %></span></h4>
    <h4 class="text-white"><span class="bg-black text-span"><%= I18n.t('game.current_sec_level') %> <span class="color-sec-<%= 'high' %>"><%= 'HIGH' %></span></span></h4>
</div>