<div class="card card-body system-card mb-3 mobile-display-none">
  <%= render partial: 'game/system_card' %>
</div>

<div class="card black-card mb-3 player-info-card mobile-display-none">
  <%= render 'game/player_info' %>
</div>

<div class="card black-card mb-3 ship-card">
  <div class="card-body">
    <%= render partial: 'game/ship_info', locals: {ship_vars: @ship_vars} %>
  </div>
</div>

<div class="row game-card-row">
  <div class="col-lg-4 mb-3 mobile-mb-0">
    <%= render partial: 'game/locations' %>
  </div>
  <div class="col-lg-8 mb-3">
    <%= render partial: 'game/players', locals: {local_users: @local_users} %>
  </div>
</div>

<%= render 'game/modals' %>

<script>
  <% if current_user and current_user.reload.in_warp %>
    if (!document.documentElement.hasAttribute("data-turbolinks-preview")) {
      doWarp(null, "WARPING...");
    }
  <% end %>
</script>