<h5><%= I18n.t('corporations.rank_help') %></h5>

<table class="table table-bordered table-sm mobile-display-none">
  <thead>
    <tr>
      <th></th>
      <th><%= I18n.t('corporations.change_ranks') %></th>
      <th><%= I18n.t('corporations.kick_members') %></th>
      <th><%= I18n.t('corporations.edit_motd') %></th>
      <th><%= I18n.t('corporations.manage_applications') %></th>
      <th><%= I18n.t('corporations.access_to_finances') %></th>
      <th><%= I18n.t('corporations.edit_corporation') %></th>
      <th><%= I18n.t('corporations.disband_corporation') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= I18n.t('corporations.rank_recruit') %></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.rank_lieutenant') %></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.rank_commodore') %></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.rank_admiral') %></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
      <th><i class="color-red fa fa-times"></i></th>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.rank_founder') %></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
      <th><i class="color-highgreen fa fa-check"></i></th>
    </tr>
  </tbody>
</table>

<div class="mobile-display-block display-none">
  <p><%= I18n.t('corporations.rank_recruit') %></p>
  
  <table class="table table-bordered table-striped table-sm">
    <tr>
      <th><%= I18n.t('corporations.change_ranks') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.kick_members') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_motd') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.manage_applications') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.access_to_finances') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_corporation') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.disband_corporation') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
  </table>
  
  <p><%= I18n.t('corporations.rank_lieutenant') %></p>
  
  <table class="table table-bordered table-striped table-sm">
    <tr>
      <th><%= I18n.t('corporations.change_ranks') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.kick_members') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_motd') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.manage_applications') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.access_to_finances') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_corporation') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.disband_corporation') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
  </table>
  
  <p><%= I18n.t('corporations.rank_commodore') %></p>
  
  <table class="table table-bordered table-striped table-sm">
    <tr>
      <th><%= I18n.t('corporations.change_ranks') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.kick_members') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_motd') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.manage_applications') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.access_to_finances') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_corporation') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.disband_corporation') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
  </table>
  
  <p><%= I18n.t('corporations.rank_admiral') %></p>
  
  <table class="table table-bordered table-striped table-sm">
    <tr>
      <th><%= I18n.t('corporations.change_ranks') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.kick_members') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_motd') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.manage_applications') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.access_to_finances') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_corporation') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.disband_corporation') %></th>
      <td><i class="color-red fa fa-times"></i></td>
    </tr>
  </table>
  
  <p><%= I18n.t('corporations.rank_founder') %></p>
  
  <table class="table table-bordered table-striped table-sm">
    <tr>
      <th><%= I18n.t('corporations.change_ranks') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.kick_members') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_motd') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.manage_applications') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.access_to_finances') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.edit_corporation') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
    <tr>
      <th><%= I18n.t('corporations.disband_corporation') %></th>
      <td><i class="color-highgreen fa fa-check"></i></td>
    </tr>
  </table>
</div>