<div class="modal fade" id="corporation-show-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">[<%= corporation.ticker %>] <%= corporation.name %></h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-sm">
          <tr>
            <th><%= I18n.t('corporations.tax_rate') %></th>
            <td><%= corporation.tax %> %</td>
          </tr>
          <tr>
            <th><%= I18n.t('corporations.member_count') %></th>
            <td><%= corporation.users.count %></td>
          </tr>
        </table>
        <p class="color-white"><strong><%= I18n.t('corporations.about') %></strong></p>
        <div class="p-5px color-white mb-3" style="border:1px solid grey">
          <% if corporation.bio %>
            <%= MARKDOWN.render(corporation.bio).html_safe %>
          <% else %>
            <%= I18n.t('corporations.not_much_known') %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to I18n.t('corporations.contact_founder'), new_game_mail_path(to: (corporation.users.where(corporation_role: :founder).first&.full_name)), class: 'btn btn-outline-primary' %>
        <button class="btn btn-outline-primary corporation-apply-modal-btn" data-id="<%= corporation.id %>"><%= I18n.t('corporations.apply') %></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>