<table class="table table-bordered table-striped table-sm mb-0">
  <thead>
    <tr>
      <th scope="col" class="mobile-display-none"><a href="#" class="sort-btn" data-column="corporation_role" data-direction="asc" data-url="corporation/sort_roster"><%= I18n.t('corporations.rank') %></a></th>
      <th scope="col"><a href="#" class="sort-btn" data-column="full_name" data-direction="asc" data-url="corporation/sort_roster"><%= I18n.t('corporations.name') %></a></th>
      <th scope="col"><%= I18n.t('corporations.location') %></th>
      <th scope="col" class="mobile-display-none"><a href="#" class="sort-btn" data-column="last_action" data-direction="asc" data-url="corporation/sort_roster"><%= I18n.t('corporations.online') %></a></th>
      <th class="btn-th" style="width:60px;"></th>
    </tr>
  </thead>
  <tbody>
    <% corporation_users.each do |user| %>
      <tr>
        <td class="mobile-display-none"><%= I18n.t("corporations.rank_#{user.corporation_role}") %></td>
        <td><a class="player-modal" href="#" data-id="<%= user.id %>"><%= user.full_name %></a></td>
        <td><span class="mobile-display-none"><%= user.location.get_name %> - </span><%= user.system_name %></td>
        <td class="mobile-display-none"><%= online_status(user) %></td>
        <th>
          <button class="btn btn-outline-danger btn-sm p-0-5 corporation-kick-user-btn" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('tooltips.kick') %>" data-id="<%= user.id %>" <%= 'disabled' if (current_user.recruit? && user != current_user) || User.corporation_roles[user.corporation_role] > User.corporation_roles[current_user.corporation_role] %>><i class="fa fa-times"></i></button>
          <button class="btn btn-outline-primary btn-sm p-0-5 corporation-mote-user-btn" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('tooltips.change_rank') %>" data-id="<%= user.id %>" <%= 'disabled' if current_user.recruit? || User.corporation_roles[user.corporation_role] > User.corporation_roles[current_user.corporation_role] %>><i class="fa fa-exchange-alt"></i></button>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>