<table class="table table-bordered table-striped table-sm mb-5px">
  <% if corporations.empty? %>
    <h2 class="text-center">...</h2>
  <% else %>
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('corporations.name') %></th>
        <th scope="col"><%= I18n.t('corporations.tax_rate') %></th>
        <th scope="col"><%= I18n.t('corporations.member_count') %></th>
        <th style="width: 1px"></th>
      </tr>
    </thead>
    <tbody>
      <% corporations.each do |corp| %>
        <tr>
          <td><%= corp.name %></td>
          <td><%= corp.tax %> %</td>
          <td><%= corp.users.count %></td>
          <td>
            <a class="corporation-modal btn btn-outline-primary btn-sm p-0-5" href="#" data-id="<%= corp.id %>">&nbsp;<i class="fa fa-info"></i>&nbsp;</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>