<div class="mb-1rem">
  <%= devise_error_messages! %>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card border-success">
      <h5 class="card-header"><%= I18n.t('devise.enlist_now') %></h5>
      <div class="card-body">
        <%= form_for(@user, url: registration_path(resource_name), validate: true) do |f| %>
        
          <h5 class="mb-3">Account</h5>
        
          <div class="field mb-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: I18n.t('devise.email'), class: 'form-control' %>
          </div>
        
          <div class="field mb-3">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: I18n.t('devise.password'), class: 'form-control' %>
          </div>
        
          <div class="field mb-5">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: I18n.t('devise.password_confirmation'), class: 'form-control' %>
          </div>
          
          <h5 class="mb-3">Pilot</h5>
          
          <div class="field mb-3">
            <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
          </div>
          
          <div class="field mb-3">
            <%= f.text_field :family_name, placeholder: I18n.t('devise.family_name'), class: 'form-control' %>
          </div>
        
          <div class="actions float-right">
            <%= button_tag( class: 'btn btn-primary btn-sm btn-load') do %>
              <span><%= I18n.t('devise.enlist_now') %></span>
              &nbsp;<i class="fas fa-arrow-right"></i>
            <% end %>
          </div>
        <% end %>
        
        <div class="mt-3">
          <%- if controller_name != 'sessions' %>
            <%= link_to "<i class='fa fa-arrow-circle-right'></i> #{I18n.t('navbar.connect')}".html_safe, new_session_path(resource_name), class: 'display-inline-block' %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>