<ul class="nav nav-tabs mt-5px" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" data-target="#ship-inventory" href="#0" role="tab"><%= I18n.t('ships.inventory') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" data-target="#ship-equipment" href="#0" role="tab"><%= I18n.t('ships.equipment') %></a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="ship-inventory" role="tabpanel">
    <table class="table table-bordered table-hover table-sm table-striped station-ship-inventory-table mt-5px">
      <% if active_spaceship.get_items(true).size > 0 %>
        <thead>
          <tr>
            <th scope="col">Qty.</th>
            <th scope="col"><%= I18n.t('items.name') %></th>
            <th scope="col"><%= I18n.t('items.type') %></th>
            <th style="width:70px;"></th>
          </tr>
        </thead>
        <tbody>
          <% active_spaceship.get_items(true).each do |loader, times| %>
            <tr>
              <td><%= times %>&times;</td>
              <td class="item-name"><%= Item.find_by(loader: loader).get_attribute('name') %></td>
              <td><%= Item.find_by(loader: loader).get_attribute('type') %></td>
              <td>
                <a class="btn btn-outline-primary btn-sm store-btn" role="button" data-toggle="tooltip" data-placement="top" data-title="<%= I18n.t('tooltips.store') %>" data-loader="<%= loader %>" data-amount="<%= times %>"><i class="fa fa-arrow-up"></i></a>
                <a class="btn btn-outline-primary btn-sm store-all-btn" role="button" data-toggle="tooltip" data-placement="top" data-title="<%= I18n.t('tooltips.store_all') %>" data-loader="<%= loader %>" data-amount="<%= times %>"><i class="fa fa-angle-double-up"></i></a>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <tr>
          <h2 class="text-center">...</h2>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="tab-pane fade" id="ship-equipment" role="tabpanel">
    <div class="row mt-5px">
      <div class="col-lg-4 mb-3">
        <div class="card black-card main-equipment-card">
          <h5 class="card-header"><%= I18n.t('equipment.main_equipment') %> (<%= active_spaceship.get_attribute('main_equipment_slots') %>)</h5>
          <div class="card-body">
            <div class="row" id="main-equipment-sortable">
              <% active_spaceship.get_main_equipment.each do |item| %>
                <%= render partial: 'equipment/equipment', locals: {item: item} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3 mobile-display-none">
        <div class="display text-center">
          <%= image_tag("ships/#{active_spaceship.get_attribute('image')}") %>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card black-card utility-equipment-card">
          <h5 class="card-header"><%= I18n.t('equipment.utility_equipment') %> (<%= active_spaceship.get_attribute('utility_equipment_slots') %>)</h5>
          <div class="card-body">
            <div class="row" id="utility-equipment-sortable">
              <% active_spaceship.get_utility_equipment.each do |item| %>
                <%= render partial: 'equipment/equipment', locals: {item: item} %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mb-3 text-center">
      <div class="col-md">
        <%= I18n.t('ships.defense').upcase %>: <span id="defense-display"><%= active_spaceship.get_defense %></span>
      </div>
      <div class="col-md">
        <%= I18n.t('ships.storage').upcase %>: <span id="storage-display"><%= active_spaceship.get_storage_capacity %></span>
      </div>
      <div class="col-md">
        <%= I18n.t('ships.align_time').upcase %>: <span id="align-display"><%= active_spaceship.get_align_time %></span>
      </div>
      <div class="col-md">
        <%= I18n.t('ships.target_time').upcase %>: <span id="target-display"><%= active_spaceship.get_target_time %></span>
      </div>
    </div>
    
    <div class="card black-card list-equipment-card">
      <h5 class="card-header"><%= I18n.t('ships.available_equipment') %></h5>
      <div class="card-body">
        <div class="row" id="list-equipment-sortable">
          <% active_spaceship.get_unequipped_equipment.each do |item| %>
            <%= render partial: 'equipment/equipment', locals: {item: item} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="store-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('tooltips.store') %> <span class="item-name"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= I18n.t('modal.how_much_store') %></p>
        <div class="input-group">
          <input type="number" class="form-control" value="1">
          <div class="input-group-append">
            <button class="btn btn-outline-primary max-btn"><%= I18n.t('modal.max') %></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary store-confirm-btn"><%= I18n.t('tooltips.store') %></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
      </div>
    </div>
  </div>
</div>