<ul class="nav nav-tabs mt-5px" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" data-target="#factory-ships" href="#0" role="tab"><%= I18n.t('station.ships') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" data-target="#factory-equipment" href="#0" role="tab"><%= I18n.t('station.equipment') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" data-target="#factory-active" href="#0" role="tab"><%= I18n.t('station.active') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" data-target="#factory-dismantling" href="#0" role="tab"><%= I18n.t('station.dismantling') %></a>
  </li>
</ul>
<div class="tab-content mt-5px">
  <div class="tab-pane fade show active" id="factory-ships" role="tabpanel">
    <table class="table table-bordered table-hover table-striped table-sm station-factory-table">
      <thead>
        <tr>
          <th scope="col"><%= I18n.t('items.name') %></th>
          <th style="width:45px"></th>
        </tr>
      </thead>
      <tbody>
        <% Spaceship.ship_variables.sort.each do |key, value| %>
          <tr class="<%= 'color-sec-high' if Blueprint.where(loader: key, user: current_user).present? %> <%= 'color-highgreen' if Blueprint.where(loader: key, efficiency: 0.5, user: current_user).present? %>">
            <td><%= key %></td>
            <td><button class="btn btn-outline-primary btn-sm factory-modal-btn" data-loader="<%= key %>" data-type="ship"><i class="fa fa-cogs"></i></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="factory-equipment" role="tabpanel">
    <table class="table table-bordered table-hover table-striped table-sm station-factory-table">
      <thead>
        <tr>
          <th scope="col"><%= I18n.t('items.name') %></th>
          <th scope="col"><%= I18n.t('items.type') %></th>
          <th style="width:45px"></th>
        </tr>
      </thead>
      <tbody>
        <% Item.equipment.sort.each_with_index do |item, index| %>
          <tr class="<%= 'color-sec-high' if Blueprint.where(loader: item, user: current_user).present? %> <%= 'color-highgreen' if Blueprint.where(loader: item, efficiency: 0.5, user: current_user).present? %>">
            <td><%= Item.get_attribute(item, :name) %></td>
            <td><%= Item.get_attribute(item, :type) %></td>
            <td><button class="btn btn-outline-primary btn-sm factory-modal-btn" data-loader="<%= item %>" data-type="item"><i class="fa fa-cogs"></i></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="factory-active" role="tabpanel">
    <table class="table table-bordered table-sm table-striped">
      <tbody>
        <% if CraftJob.where(user: current_user, location: current_user.location).empty? %>
          <tr>
            <h2 class="text-center">...</h2>
          </tr>
        <% end %>
        <% CraftJob.where(user: current_user, location: current_user.location).each do |job| %>
          <tr>
            <% if job.loader.include? "equipment." %>
              <th><%= Item.get_attribute(job.loader, :name) %></th>
              <td class="w-50">
                <div class="progress crafting-progress" style="height:21px" data-current="<%= (Item.get_attribute(job.loader, :crafting_duration) * 60 - (job.completion.to_time - Time.current) / 1.second).round %>" data-max="<%= Item.get_attribute(job.loader, :crafting_duration) %>">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
                </div>
              </td>
            <% else %>
              <th><%= job.loader %></th>
              <td class="w-50">
                <div class="progress crafting-progress" style="height:21px" data-current="<%= (Spaceship.get_attribute(job.loader, :crafting_duration) * 60 - (job.completion.to_time - Time.current) / 1.second).round %>" data-max="<%= Spaceship.get_attribute(job.loader, :crafting_duration) %>">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="factory-dismantling" role="tabpanel">
    <div class="overflow-scroll" style="height:92%">
      <table class="table table-bordered table-hover table-sm table-striped">
        <% if current_user.location.get_items(current_user.id).count > 0 %>
          <thead>
            <tr>
              <th scope="col">Qty.</th>
              <th scope="col"><%= I18n.t('items.name') %></th>
              <th scope="col"><%= I18n.t('items.type') %></th>
              <th class="btn-th" style="width:1px;"></th>
            </tr>
          </thead>
          <tbody>
            <% current_user.location.items.where(user: current_user).where("loader ILIKE ?", "equipment.%").sort_by{|p| p.get_attribute('type')}.each do |item| %>
              <tr>
                <td class="amount" data-loader="<%= item.loader %>"><%= item.count %>&times;</td>
                <% if item.loader.include? "equipment" %>
                  <td><a href="#" class="equipment-info item-name" data-loader="<%= item.loader %>"><%= item.get_attribute('name') %></a></td>
                <% else %>
                  <td class="item-name"><%= item.get_attribute('name') %></td>
                <% end %>
                <td><%= item.get_attribute('type') %></td>
                <td>
                  <a class="btn btn-outline-primary btn-sm dismantle-modal-btn text-primary" role="button" data-loader="<%= item.loader %>"><i class="fa fa-cogs"></i></a>
                </td>
              </tr>
            <% end %>
          <tbody>
        <% else %>
          <tr>
            <h2 class="text-center">...</h2>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
  // Crafting Progress Dynamic
  $('.crafting-progress').each(function() {
    var current = $(this).data("current");
    var max = $(this).data("max");
    var progressbar = $(this).children('div');


    var interval = setInterval(function() {
      current = current + 1
      var width = current / ((max * 60) / 100)
      progressbar.html(Math.round( width * 10) / 10 + '%');
      progressbar.css('width', width + '%');

      if (width >= 100) {
        clearInterval(interval);
        progressbar.closest('tr').remove();
      }
    },1000)
  });
</script>