<ul class="nav nav-tabs mt-5px" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#available-missions" role="tab"><%= I18n.t('missions.available_missions') %> (<%= current_user.missions.where(mission_status: 'offered').count %>)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#active-missions" role="tab"><%= I18n.t('missions.active_missions') %> (<%= current_user.missions.where(mission_status: 'active').count %>)</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="available-missions" role="tabpanel">
    <div class="list mt-5px">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col"><%= I18n.t('missions.type') %></th>
            <th scope="col"><%= I18n.t('missions.faction') %></th>
            <th scope="col"><%= I18n.t('missions.reward') %></th>
            <th scope="col"><%= I18n.t('missions.difficulty') %></th>
            <th class="btn-th"></th>
          </tr>
        </thead>
        <tbody>
          <% current_user.missions.where(mission_status: 'offered').each do |mission| %>
            <tr>
              <td><%= mission.mission_type.capitalize %></td>
              <td><%= mission.faction.get_ticker %></td>
              <td><%= mission.reward %> Cr</td>
              <td><%= mission.difficulty.capitalize %></td>
              <td><button class="btn btn-outline-primary btn-sm mission-info-btn" data-id="<%= mission.id %>"><i class="fa fa-info"></i></button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="result mt-10px">
      
    </div>
  </div>
  <div class="tab-pane fade" id="active-missions" role="tabpanel">
    <div class="list mt-5px">
      <table class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col"><%= I18n.t('missions.type') %></th>
            <th scope="col"><%= I18n.t('missions.faction') %></th>
            <th scope="col"><%= I18n.t('missions.reward') %></th>
            <th scope="col"><%= I18n.t('missions.difficulty') %></th>
            <th class="btn-th"></th>
          </tr>
        </thead>
        <tbody>
          <% current_user.missions.where(mission_status: 'active').each do |mission| %>
            <tr>
              <td><%= mission.mission_type.capitalize %></td>
              <td><%= mission.faction.get_ticker %></td>
              <td><%= mission.reward %> Cr</td>
              <td><%= mission.difficulty.capitalize %></td>
              <td><button class="btn btn-outline-primary btn-sm mission-info-btn" data-id="<%= mission.id %>"><i class="fa fa-info"></i></button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="result mt-10px">
      
    </div>
  </div>
</div>