<table class="table table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('ships.name') %></th>
      <th scope="col"><%= I18n.t('ships.hp') %></th>
      <th scope="col"><%= I18n.t('ships.power') %></th>
      <th scope="col" class="mobile-display-none"><%= I18n.t('ships.defense') %></th>
      <th scope="col"><%= I18n.t('ships.storage') %></th>
      <th scope="col"><%= I18n.t('ships.price') %></th>
      <th scope="col" class="btn-th"></th>
    </tr>
  </thead>
  <tbody>
    <% @ships.each do |k,v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v['hp'] %></td>
        <td><%= v['power'] %></td>
        <td class="mobile-display-none"><%= v['defense'] %></td>
        <td><%= v['storage'] %></td>
        <td><%= v['price'] %></td>
        <td>
          <a class="btn btn-outline-primary" role="button" data-toggle="modal" data-target="#ship-<%= k %>"><i class="fa fa-eye"></i></a>
          <a class="btn btn-outline-success" role="button" data-toggle="modal" data-target="#ship-buy-<%= k %>"><i class="fa fa-dollar-sign"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @ships.each do |k,v| %>
<div class="modal fade" id="ship-<%= k %>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= k %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= image_tag("ships/#{v['image']}", style: 'max-height: 150px') %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ship-buy-<%= k %>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= k %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Units: <%= v['price'] %><br><br>
        <%= I18n.t('modal.sure_buy') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary buy-ship-btn" data-name="<%= k %>"><%= I18n.t('modal.buy') %></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
      </div>
    </div>
  </div>
</div>
<% end %>