<table class="table table-bordered table-hover table-sm station-storage-table">
  <thead>
    <tr>
      <th scope="col">Qty.</th>
      <th scope="col"><%= I18n.t('items.name') %></th>
      <th scope="col"><%= I18n.t('items.type') %></th>
      <th class="btn-th"></th>
    </tr>
  </thead>
  <tbody>
    <% current_user.location.get_items(current_user.id).each do |loader, times| %>
      <tr>
        <td><%= times %>x</td>
        <td class="item-name"><%= Item.find_by(loader: loader).get_attribute('name') %></td>
        <td><%= Item.find_by(loader: loader).get_attribute('type') %></td>
        <td>
          <a class="btn btn-outline-primary btn-sm load-btn" role="button" data-toggle="tooltip" data-placement="top" data-title="<%= I18n.t('tooltips.load') %>" data-loader="<%= loader %>"><i class="fa fa-arrow-down"></i></a>
          <a class="btn btn-outline-success btn-sm" role="button" data-toggle="tooltip" data-placement="top" data-title="<%= I18n.t('tooltips.sell') %>"><i class="fa fa-dollar-sign"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="load-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('tooltips.load') %> <span class="item-name"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= I18n.t('modal.how_much_load') %></p>
        <input type="number" class="form-control" value="1">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary load-confirm-btn"><%= I18n.t('tooltips.load') %></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
      </div>
    </div>
  </div>
</div>