<div class="card card-body system-card mb-3 mobile-display-none">
  <%= render partial: 'game/system_card' %>
</div>

<div class="card black-card mb-3 player-info-card mobile-display-none">
  <%= render 'game/player_info' %>
</div>

<div class="card black-card mb-3 chat-card">
  <h5 class="card-header">
    <%= I18n.t('game.chat') %>
    <div class="float-right">
      <a class="btn btn-xs btn-outline-primary p-0-5 text-primary mobile-display-none" onclick="window.open('/game/chat?popup=true',null,'height=500,width=800')"><i class="fa fa-expand-arrows-alt"></i></a>
      <a data-toggle="collapse" data-target="#collapse-chat" href="#0">
        <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-down"></i></div>
      </a>
    </div>
  </h5>
  <div class="collapse show" id="collapse-chat">
    <div class="card-body">
      <%= render partial: 'game/chat', locals: {local_messages: @local_messages, system_users: @system_users, global_messages: @global_messages} %>
    </div>
  </div>
</div>

<div class="card black-card station-card">
  <h4 class="card-header" style="font-size:30px">
    <span class="station-name"><%= @current_user.location.get_name %></span>
    <div class="float-right">
      <div class="btn btn-outline-warning station-undock-btn"><span><%= I18n.t('station.undock') %></span></div>
    </div>
  </h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="nav flex-column nav-pills text-center" role="tablist">
          <a class="nav-link active" data-toggle="pill" data-target="#overview" href="#0" role="tab"><%= I18n.t('station.overview') %></a>
          <a class="nav-link" data-toggle="pill" data-target="#missions" href="#0" role="tab"><%= I18n.t('station.missions') %></a>
          <a class="nav-link" data-toggle="pill" data-target="#bounty_office" href="#0" role="tab"><%= I18n.t('station.bounty_office') %></a>
          <a class="nav-link" data-toggle="pill" data-target="#storage" href="#0" role="tab"><%= I18n.t('station.storage') %></a>
          <% if @current_user.location.industrial_station? %>
            <a class="nav-link" data-toggle="pill" data-target="#factory" href="#0" role="tab"><%= I18n.t('station.factory') %></a>
          <% end %>
          <% if @current_user.location.research_station? %>
            <a class="nav-link" data-toggle="pill" data-target="#blueprints" href="#0" role="tab"><%= I18n.t('station.blueprints') %></a>
          <% end %>
          <a class="nav-link mb-5 mobile-mb-10px" data-toggle="pill" data-target="#market" href="#0" role="tab"><%= I18n.t('station.market') %></a>
          <a class="nav-link mt-auto mobile-mt-0" data-toggle="pill" data-target="#my_ships"  href="#0" role="tab"><%= I18n.t('station.my_ships') %></a>
          <a class="nav-link" data-toggle="pill" data-target="#active_ship" href="#0" role="tab"><%= I18n.t('station.active_ship') %></a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="overview" role="tabpanel"></div>
          <div class="tab-pane fade" id="missions" role="tabpanel"></div>
          <div class="tab-pane fade" id="bounty_office" role="tabpanel"></div>
          <div class="tab-pane fade" id="storage" role="tabpanel"></div>
          <div class="tab-pane fade" id="factory" role="tabpanel"></div>
          <div class="tab-pane fade" id="blueprints" role="tabpanel"></div>
          <div class="tab-pane fade" id="market" role="tabpanel"></div>
          <div class="tab-pane fade" id="my_ships" role="tabpanel"></div>
          <div class="tab-pane fade" id="active_ship" role="tabpanel"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Died Modal -->
<div class="modal fade" id="died-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('modal.died') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="died-modal-body">
        
      </div>
      <% if current_user.full_name == "Thorq Blackwood" %>
        <div class="mt-3">
          <%= image_tag("deaths/thorq-death.gif", style: "width:100%") %>
        </div>
      <% end %>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
      </div>
    </div>
  </div>
</div>