<div class="card card-body system-card mb-3">
  <h4 class="text-white"><span class="bg-black text-span"><%= I18n.t('game.current_system') %> <%= @current_user.system.name.upcase %></span></h4>
  <h4 class="text-white"><span class="bg-black text-span"><%= I18n.t('game.current_sec_level') %> <span class="color-sec-<%= @current_user.system.security_status %>"><%= @current_user.system.security_status.upcase %></span></span></h4>
</div>

<div class="card black-card mb-3 player-info-card">
  <%= render 'game/player_info' %>
</div>

<div class="card black-card mb-3 chat-card">
  <h5 class="card-header">
    <%= I18n.t('game.chat') %>
    <div class="float-right">
      <a data-toggle="collapse" href="#collapse-chat">
        <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-down"></i></div>
      </a>
    </div>
  </h5>
  <div class="collapse show" id="collapse-chat">
    <div class="card-body">
      <%= render 'game/chat' %>
    </div>
  </div>
</div>

<div class="card black-card station-card mb-3">
  <h4 class="card-header">
    <%= @current_user.location.name %>
    <div class="float-right">
      <div class="btn btn-outline-warning station-undock-btn"><span><%= I18n.t('station.undock') %></span></div>
    </div>
  </h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="nav flex-column nav-pills" role="tablist">
          <a class="nav-link active" data-toggle="pill" href="#overview" role="tab"><%= I18n.t('station.overview') %></a>
          <a class="nav-link" data-toggle="pill" href="#missions" role="tab"><%= I18n.t('station.missions') %></a>
          <a class="nav-link" data-toggle="pill" href="#bounty_office" role="tab"><%= I18n.t('station.bounty_office') %></a>
          <a class="nav-link" data-toggle="pill" href="#storage" role="tab"><%= I18n.t('station.storage') %></a>
          <% if @current_user.location.is_factory %>
            <a class="nav-link" data-toggle="pill" href="#factory" role="tab"><%= I18n.t('station.factory') %></a>
          <% end %>
          <a class="nav-link mb-5" data-toggle="pill" href="#market" role="tab"><%= I18n.t('station.market') %></a>
          <a class="nav-link mt-auto mobile-mt-0" data-toggle="pill" href="#my_ships" role="tab"><%= I18n.t('station.my_ships') %></a>
          <a class="nav-link" data-toggle="pill" href="#active_ship" role="tab"><%= I18n.t('station.active_ship') %></a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="overview" role="tabpanel">
            
          </div>
          <div class="tab-pane fade" id="missions" role="tabpanel">
            
          </div>
          <div class="tab-pane fade" id="bounty_office" role="tabpanel">
            
          </div>
          <div class="tab-pane fade" id="storage" role="tabpanel">
            
          </div>
          <div class="tab-pane fade" id="factory" role="tabpanel">
            
          </div>
          <div class="tab-pane fade" id="market" role="tabpanel">
            
          </div>
          <div class="tab-pane fade" id="my_ships" role="tabpanel">
            
          </div>
          <div class="tab-pane fade" id="active_ship" role="tabpanel">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Died Modal -->
<div class="modal fade" id="died-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('modal.died') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="died-modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
      </div>
    </div>
  </div>
</div>