<table class="table table-striped table-bordered">
  <tbody>
    <% pending.each do |friendship| %>
      <% if friendship.friend == current_user %>
        <tr>
          <td>
            <%= image_tag(friendship.user_avatar_url, class: 'float-left') %>
            <div class="float-right">
              <button class="btn btn-outline-success accept-friend-request-btn btn-sm" data-id="<%= friendship.id %>">
                <i class="fa fa-plus"></i>
              </button>
              <button class="btn btn-outline-danger remove-as-friend-btn btn-sm" data-id="<%= friendship.user_id %>">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <a href="#" class="player-modal" data-id=<%= friendship.user_id %>><strong><%= friendship.user.full_name %></strong></a><br>
            <%= online_status(friendship.user) %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td>
            <%= image_tag(friendship.friend_avatar_url, class: 'float-left') %>
            <div class="float-right">
              <button class="btn btn-outline-danger remove-as-friend-btn btn-sm" data-id="<%= friendship.friend_id %>">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <a href="#" class="player-modal" data-id=<%= friendship.friend_id %>><strong><%= friendship.friend_full_name %></strong></a><br>
            <%= online_status(friendship.friend) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>