<table class="table table-striped table-bordered">
  <tbody>
    <% pending.each do |friendship| %>
      <% if friendship.friend == current_user %>
        <tr>
          <td>
            <%= image_tag("avatars/#{friendship.user.avatar}.jpg", class: 'float-left') %>
            <div class="float-right">
              <button class="btn btn-outline-success accept-friend-request-btn btn-sm" data-id="<%= friendship.id %>">
                <i class="fa fa-plus"></i>
              </button>
              <button class="btn btn-outline-danger remove-as-friend-btn btn-sm" data-id="<%= friendship.user.id %>">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <a href="#" class="player-modal" data-id=<%= friendship.user.id %>><strong><%= friendship.user.full_name %></strong></a><br>
            <%= online_status(friendship.user) %> - <strong><%= friendship.user.system.name %></strong> <%= friendship.user.location.name %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td>
            <%= image_tag("avatars/#{friendship.friend.avatar}.jpg", class: 'float-left') %>
            <div class="float-right">
              <button class="btn btn-outline-danger remove-as-friend-btn btn-sm" data-id="<%= friendship.user.id %>">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <a href="#" class="player-modal" data-id=<%= friendship.friend.id %>><strong><%= friendship.friend.full_name %></strong></a><br>
            <%= online_status(friendship.friend) %> - <strong><%= friendship.friend.system.name %></strong> <%= friendship.friend.location.name %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>