<div class="card black-card friends-card">
  <h4 class="card-header"><%= I18n.t('friends.friends') %></h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="nav flex-column nav-pills" role="tablist">
          <a class="nav-link active" data-toggle="pill" href="#friends" role="tab"><%= I18n.t('friends.friends') %> <span class="badge badge-secondary"><%= @friends.count %></span></a>
          <a class="nav-link" data-toggle="pill" href="#pending" role="tab"><%= I18n.t('friends.pending') %> <span class="badge badge-secondary"><%= @pending.count %></span></a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="friends" role="tabpanel">
            <%= render partial: 'friends/friends', locals: {friends: @friends} %>
          </div>
          <div class="tab-pane fade" id="pending" role="tabpanel">
            <%= render partial: 'friends/pending', locals: {pending: @pending} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>