<div class="modal fade" tabindex="-1" role="dialog" id="dismantle-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('station.dismantle') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><%= I18n.t('station.dismantling_item', item: Item.get_attribute(item, :name)) %></h5>
        
        <label class="mt-3"><%= I18n.t('station.how_much') %></label>
        <div class="input-group">
          <input type="number" min=0 value="1" class="form-control" id="dismantleModalInput">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" data-max=<%= Item.find_by(loader: item, location: current_user.location, user: current_user).count %> id="dismantleModalMax">Max</button>
          </div>
        </div>
        
        <label class="mt-3"><%= I18n.t('station.average_amount_received') %></label>
        <table class="table table-sm table-striped table-bordered">
          <tbody>
            <% Item.get_attribute(item, :crafting).each do |key, value| %>
              <tr>
                <td><%= Item.get_attribute(key, :name) %></td>
                <td class="amount" data-amount="<%= (value * 0.4).round %>"><%= (value * 0.4).round %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="dismantleModalBtn" data-loader="<%= item %>"><%= I18n.t('station.dismantle') %></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
      </div>
    </div>
  </div>
</div>