<div class="card black-card card-body" id="mail-show-card">
  <div class="field mb-3">
    <label><%= I18n.t('mails.sender') %>:</label><br>
    <p><%= mail.sender.full_name %></p>
  </div>
  <div class="field mb-3">
    <label><%= I18n.t('mails.recipient') %>:</label><br>
    <p><%= mail.recipient.full_name %></p>
  </div>
  <div class="field mb-3">
    <label><%= I18n.t('mails.header') %>:</label><br>
    <p><%= mail.header %></p>
  </div>
  <div class="field mb-3">
    <label><%= I18n.t('mails.body') %>:</label><br>
    <p><%= mail.body %></p>
  </div>
  <% if mail.units > 0 %>
    <div class="field mb-3">
      <label>Units:</label><br>
      <p><%= mail.units.to_s %></p>
    </div>
  <% end %>
</div>