<div class="modal fade" id="player-show-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= user.full_name %></h5>
        <button type="button" class="close" data-dismiss="modal" id="player-show-modal-close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body m-auto text-center">
          <%= image_tag("avatars/#{user.avatar}.jpg", height: 150) %><br><br>
          <% if current_user.friends.where(id: user.id).empty? and current_user != user %>
            <button class="btn btn-outline-primary add-as-friend-btn" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('tooltips.add_friend') %>" data-id="<%= user.id %>">
              <i class="fa fa-user-plus"></i>
            </button>
          <% elsif current_user != user %>
            <button class="btn btn-outline-danger remove-as-friend-btn" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('tooltips.remove_friend') %>" data-id="<%= user.id %>">
              <i class="fa fa-user-minus"></i>
            </button>
          <% end %>
          <% if current_user != user %>
            <button class="btn btn-outline-primary chat-player-btn" data-toggle="tootlip" data-placement="top" title="<%= I18n.t('tooltips.message') %>" data-id="<%= user.id %>">
              <i class="fa fa-comment-alt"></i>
            </button>
          <% end %>
          <p class="text-center mt-10px"><strong>Faction: <%= user.faction.name %></strong></p>
      </div>
    </div>
  </div>
</div>