<div class="modal fade" id="player-show-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= image_tag("avatars/#{user.avatar}.jpg", style: 'height: 50px') %> <%= user.full_name %></h5>
        <button type="button" class="close" data-dismiss="modal" id="player-show-modal-close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="<%= 'mb-3' if user != current_user %>">
          <% if current_user.friends.where(id: user.id).empty? and current_user != user %>
            <button class="btn btn-outline-primary add-as-friend-btn w-33" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('tooltips.add_friend') %>" data-id="<%= user.id %>">
              <i class="fa fa-user-plus"></i>
            </button>
          <% elsif current_user != user %>
            <button class="btn btn-outline-danger remove-as-friend-btn w-33" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('tooltips.remove_friend') %>" data-id="<%= user.id %>">
              <i class="fa fa-user-minus"></i>
            </button>
          <% end %>
          <% if current_user != user %>
            <div class="dropdown w-33 display-inline-block">
              <button class="btn btn-outline-primary w-100" type="button" data-toggle="dropdown">
                <i class="fa fa-comment-alt"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item chat-player-btn <%= 'disabled' if user.online == 0 %>" href="#" data-id="<%= user.id %>"><%= I18n.t('users.start_conversation') %></a>
                <%= link_to I18n.t('users.send_mail'), new_game_mail_path(to: user.full_name), class: 'dropdown-item' %>
              </div>
            </div>
            <% if user.in_same_fleet_as(current_user.id) and current_user.fleet.creator == current_user %>
              <button class="btn btn-outline-danger remove-from-fleet-btn w-33" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('tooltips.remove_from_fleet') %>" data-id="<%= user.id %>">
                <i class="fa fa-space-shuttle"></i>
              </button>
            <% else %>
              <button class="btn btn-outline-primary invite-to-fleet-btn w-33" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('tooltips.invite_to_fleet') %>" data-id="<%= user.id %>" <%= 'disabled' if user.fleet || user.online == 0 %>>
                <i class="fa fa-space-shuttle"></i>
              </button>
            <% end %>
          <% end %>
        </div>
              
        <span class="mb-3">
          <%= I18n.t('bounty.bounty') %>: <span id="user-bounty"><%= user.bounty %></span> Cr&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-primary btn-sm add-bounty-btn">
            <i class="fa fa-plus"></i>
          </button>
        </span>
            
        <div class="bg-fade-light" style="display:none;" id="bountyModal">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="<%= I18n.t('bounty.bounty_placeholder') %>" id="bounty-input">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" id="bounty-place-btn" data-id="<%= user.id %>"><%= I18n.t('bounty.place') %></button>
            </div>
          </div>
        </div>
        
        <ul class="nav nav-tabs mt-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" data-target="#bio-user-info" href="#0" role="tab"><%= I18n.t('users.bio') %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-target="#about-user-info" href="#0" role="tab"><%= I18n.t('users.about') %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-target="#about-user-ship" href="#0" role="tab"><%= I18n.t('users.current_ship') %></a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="bio-user-info" role="tabpanel">
            <div class="bio">
              <% if user.bio %>
                <%= MARKDOWN.render(user.bio).html_safe %>
              <% else %>
                <p><%= I18n.t('users.bio_not_much_known') %></p>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="about-user-info" role="tabpanel">
            <span><%= I18n.t('users.faction') %>: <%= user.faction.name %></span><br>
            <% if user.corporation %>
              <span><%= I18n.t('users.corporation') %>: <a class="corporation-modal" href="#" data-id="<%= user.corporation_id %>"><%= user.corporation.name %></a></span><br>
            <% end %>
          </div>
          <div class="tab-pane fade" id="about-user-ship" role="tabpanel">
            <div class="mt-5px">
              <%= render partial: 'ships/vars', locals: {value: SHIP_VARIABLES[user.active_spaceship.name]} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="bountyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>