<div class="card black-card rules-help-card mb-3">
  <h5 class="card-header"><%= I18n.t('factions.rules_and_help') %></h5>
  <div class="card-body">
    <h5><%= I18n.t('factions.rules') %> (more can be found <%= link_to 'here', credits_path %>)</h5>
      <ul>
        <li><%= I18n.t('factions.rule_1') %></li>
        <li><%= I18n.t('factions.rule_2') %></li>
        <li><%= I18n.t('factions.rule_3') %></li>
        <li><%= I18n.t('factions.rule_4') %></li>
        <li><%= I18n.t('factions.rule_5') %></li>
      </ul>
    <h5><%= I18n.t('factions.help') %></h5>
      <ul>
        <li><%= I18n.t('factions.help_1') %></li>
        <li><%= I18n.t('factions.help_2') %></li>
      </ul>
  </div>
</div>

<div class="card black-card factions-card">
  <h5 class="card-header"><%= I18n.t('factions.choose_a_faction') %></h5>
  <div class="card-body">
    <div class="row">
      <% @factions.each_with_index do |faction, index| %>
        <div class="col-md-4 mb-3" style="position:relative">
          <div class="display mb-3 text-center">
            <%= image_tag("ships/#{FACTION_VARIABLES[faction.id]['placeholder']}") %>
          </div>
          
          <h5><%= faction.name %></h5>
          
          <p><%= faction.description %></p>
          
          <div class="<%= 'grounded' if index > 0 %>">
            <h5><%= I18n.t('factions.bonus') %></h5>
          
            <p class="color-green"><%= I18n.t("factions.#{faction.id}_bonus") %></p>
            
            <%= button_to choose_faction_path(id: faction.id), class: 'btn btn-primary btn-load', method: :post do %>
              <span><%= I18n.t('factions.choose') %></span>
              &nbsp;<i class="fas fa-arrow-right"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Tutorial Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="tutorial-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('tutorial.before_you_continue') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= I18n.t('tutorial.before_you_continue_text') %></p>
        
        <div class="row">
          <div class="col-6">
            <a href="https://forums.stellar-invictus.com/t/piloting-101-a-guide-for-new-players" target="_blank" class="btn btn-outline-primary w-100"><%= I18n.t('tutorial.quickstart_guide') %></a>
          </div>
          <div class="col-6">
            <a href="https://forums.stellar-invictus.com/t/stellar-invictus-your-first-flight/499" target="_blank" class="btn btn-outline-primary w-100"><%= I18n.t('tutorial.advanced_guide') %></a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#tutorial-modal').modal('show');
  $( document ).on('turbolinks:load', function() {
    gtag('event', 'conversion', {'send_to': 'AW-878935501/xiDMCJ2mvpQBEM37jaMD'});
  });
</script>