<div class="col-6 enemy-space-ship" data-ship-image="<%= image_path("ships/enemy-thrusters.png") %>">
</div>
<div class="col-6 text-left enemy-space-ship-infos">
  <div class="mt-5px">
    <span><%= current_user.npc_target.name %></span><br>
    <span id="target-ship-health"><%= I18n.t('npcs.hp') %>: <%= current_user.npc_target.hp %></span></span>
  </div>
</div>
<div class="col-12 mt-3 pl-0 enemy-space-ship-btns">
  <% current_user.active_spaceship.get_main_equipment.each do |equipment| %>
    <% if equipment.get_attribute('type') == 'Weapon' %>
      <button class="btn <%= 'btn-outline-secondary' if !equipment.active %> <%= 'btn-outline-danger' if equipment.active %> use-equipment-btn" data-id="<%= equipment.id %>" data-toggle="tooltip" data-placement="top" title="<%= equipment.get_attribute('name') %>">
        <i class="fa fa-crosshairs"></i>
      </button>
    <% end %>
  <% end %>
  <button class="btn btn-outline-warning untarget-player-btn float-right" data-id="<%= current_user.npc_target.id %>"><%= I18n.t('ships.untarget') %></button>
</div>