<% enemy_vars = Spaceship.ship_variables[current_user.target.active_spaceship.name] %>
<div class="col-6 enemy-space-ship" data-ship-image="<%= image_path("ships/#{enemy_vars['thruster-image']}") %>" style="<%= 'border: 1px solid red' if current_user.is_attacking %>">
</div>
<div class="col-6 text-left enemy-space-ship-infos">
  <div class="mt-5px">
    <span><a class='player-modal' href="#" data-id="<%= current_user.target.id %>"> <%= current_user.target.full_name %></a></span><br>
    <span><%= I18n.t('ships.hp').upcase %>: <span id="target-ship-health"><%= current_user.target.active_spaceship.hp %></span></span><br>
    <span><%= I18n.t('ships.defense').upcase %>: <%= current_user.target.active_spaceship.get_defense %></span><br>
    <span><%= I18n.t('ships.power').upcase %>: <%= current_user.target.active_spaceship.get_power %></span>
  </div>
</div>
<div class="col-12 mt-3 pl-0 pr-0 enemy-space-ship-btns">
  <% current_user.active_spaceship.get_main_equipment.each do |equipment| %>
    <% if equipment.get_attribute('type') == 'Weapon' || equipment.get_attribute('type') == 'Warp Disruptor' %>
      <button class="btn <%= 'btn-outline-secondary' if !equipment.active %> <%= 'btn-outline-danger' if equipment.active %> use-equipment-btn" data-id="<%= equipment.id %>" data-toggle="tooltip" data-placement="top" title="<%= equipment.get_attribute('name') %>">
        <i class="fa fa-crosshairs"></i>
      </button>
    <% end %>
    <% if equipment.get_attribute('type') == 'Repair Beam' %>
      <button class="btn <%= 'btn-outline-secondary' if !equipment.active %> <%= 'btn-outline-success' if equipment.active %> use-equipment-btn" data-id="<%= equipment.id %>" data-toggle="tooltip" data-placement="top" title="<%= equipment.get_attribute('name') %>">
        <i class="fa fa-wrench"></i>
      </button>
    <% end %>
  <% end %>
  <button class="btn btn-outline-warning untarget-player-btn float-right" data-id="<%= current_user.target.id %>"><%= I18n.t('ships.untarget') %></button>
</div>