<h5 class="mb-3"><%= image_tag("avatars/#{mission.agent_avatar}.jpg", style: 'height: 75px; border: 1px solid grey;') %>&nbsp;&nbsp;&nbsp;<%= mission.faction.get_ticker %> <%= mission.agent_name %></h5>

<p class="color-grey"><%= mission.location.get_name %> - <%= mission.location.system.name %></p>

<p class="color-grey"><%= I18n.t('missions.transmission_start').html_safe %></p>

<% if current_user.missions.count < 5 || mission.active? %>

  <!-- WARNINGS -->
  <% if (mission.combat? || mission.vip?) and (mission.hard? || mission.medium?) %>
    <p class="color-red"><%= I18n.t('missions.hard_warning') %></p>
  <% end %>
  <% if mission.mining? %>
    <% if mission.mission_loader == "asteroid.titanium_ore" %>
      <p class="color-red"><%= I18n.t('missions.titanium_warning') %></p>
    <% end %>
  <% end %>
  <!-- WARNINGS END -->

  <p><strong><%= I18n.t('missions.objectives') %>:</strong></p>
  <ul>
    <% if mission.offered? %>
      <% case mission.mission_type %>
      <% when 'delivery' %>
        <li><%= I18n.t('missions.objective_delivery', amount: mission.mission_amount, name: Item.get_attribute(mission.mission_loader, :name), weight: Item.get_attribute(mission.mission_loader, :weight), station: Location.find(mission.deliver_to).get_name, system: Location.find(mission.deliver_to).system_name) %></li>
      <% when 'combat' %>
        <li><%= I18n.t('missions.objective_combat', system: mission.mission_location.system.name, amount: mission.enemy_amount) %></li>
      <% when 'vip' %>
        <li><%= I18n.t('missions.objective_vip', system: mission.mission_location.system.name, faction: mission.mission_location.faction_name) %></li>
      <% when 'mining' %>
        <li><%= I18n.t('missions.objective_mining', amount: mission.mission_amount, name: Item.get_attribute(mission.mission_loader, :name)) %></li>
      <% when 'market' %>
        <li><%= I18n.t('missions.objective_market', amount: mission.mission_amount, name: Item.get_attribute(mission.mission_loader, :name)) %></li>
      <% end %>
    <% else %>
      <% case mission.mission_type %>
      <% when 'delivery' %>
        <li><%= I18n.t('missions.objective_delivery_progress', amount: mission.mission_amount, name: Item.get_attribute(mission.mission_loader, :name), weight: Item.get_attribute(mission.mission_loader, :weight), station: Location.find(mission.deliver_to).get_name, system: Location.find(mission.deliver_to).system_name) %></li>
      <% when 'combat' %>
        <li><%= I18n.t('missions.objective_combat_progress', system: mission.mission_location.system.name, amount: mission.enemy_amount) %></li>
      <% when 'vip' %>
        <li><%= I18n.t('missions.objective_vip_progress', system: mission.mission_location.system.name, faction: mission.mission_location.faction_name) %></li>
      <% when 'mining' %>
        <li><%= I18n.t('missions.objective_mining_progress', amount: mission.mission_amount, name: Item.get_attribute(mission.mission_loader, :name)) %></li>
      <% when 'market' %>
        <li><%= I18n.t('missions.objective_market', amount: mission.mission_amount, name: Item.get_attribute(mission.mission_loader, :name)) %></li>
      <% end %>
    <% end %>
  </ul>
  
  <p><strong><%= I18n.t('missions.reputation') %>:</strong></p>
  <ul>
    <li class="color-green">+ <%= mission.faction_bonus %> <%= I18n.t('missions.reputation_for') %> <%= mission.faction_name %></li>
    <% if mission.faction_malus > 0 %>
      <% if mission.vip? %>
        <li class="color-red">- <%= mission.faction_malus %> <%= I18n.t('missions.reputation_for') %> <%= mission.mission_location.faction_name %></li>
      <% else %>
        <li class="color-red">- <%= mission.faction_malus %> <%= I18n.t('missions.reputation_for_other') %> </li>
      <% end %>
    <% end %>
  </ul>
  
  <p><strong><%= I18n.t('missions.rewards') %>:</strong></p>
  <ul>
    <li><%= I18n.t('missions.credits') %>: <%= mission.reward %> Cr</li>
  </ul>
  
  <p class="color-grey"><%= I18n.t('missions.transmission_end').html_safe %></p>

  <% if mission.offered? %>
    <button class="btn btn-outline-primary accept-mission-btn" data-id="<%= mission.id %>"><%= I18n.t('missions.accept_mission') %></button>
  <% else %>
    <button class="btn btn-outline-success finish-mission-btn" data-id="<%= mission.id %>"><%= I18n.t('missions.finish_mission') %></button>
    <button class="btn btn-outline-danger abort-mission-modal-btn" data-toggle="modal" data-target="#abort-mission-modal" data-id="<%= mission.id %>"><%= I18n.t('missions.abort_mission') %></button>
  <% end %>
<% else %>
  <p class="color-grey"><%= I18n.t('missions.transmission_end').html_safe %></p>
  
  <p><%= I18n.t('missions.finish_active_missions_first') %></p>
<% end %>