<% if current_user.missions.count == 0 %>
  <h2 class="text-center">...</h2>
<% end %>

<% current_user.missions.each_with_index do |mission, index| %>
  <div class="card black-card <%= 'mt-5px' if index > 0 %>">
    <h5 class="card-header" style="font-size:20px">
      <%= mission.faction.get_ticker %> <%= mission.mission_type.capitalize %>
      <div class="float-right">
        <a data-toggle="collapse" data-target="#collapse-<%= mission.id %>" href="#0">
          <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-right"></i></div>
        </a>
      </div>
    </h5>
    <div class="collapse" id="collapse-<%= mission.id %>">
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <tbody>
            <tr>
              <th><%= I18n.t('missions.agent_location') %></th>
              <td><%= mission.location.get_name %> - <%= mission.location.system.name %></td>
            </tr>
            <tr>
              <th><%= I18n.t('missions.reward') %></th>
              <td><%= mission.reward %> Cr</td>
            </tr>
            <tr>
              <th><%= I18n.t('missions.difficulty') %></th>
              <td><%= mission.difficulty.capitalize %></td>
            </tr>
              <% if mission.mining? or mission.market? %>
                <tr>
                  <th><%= I18n.t('missions.item') %></th>
                  <td><%= Item.get_attribute(mission.mission_loader, :name) rescue "" %></td>
                </tr>
                <tr>
                  <th><%= I18n.t('missions.amount_left') %></th>
                  <td><%= mission.mission_amount %></td>
                </tr>
              <% elsif mission.combat? || mission.vip? %>
                <tr>
                  <th><%= I18n.t('missions.mission_location') %></th>
                  <td><%= mission.mission_location.system.name %></td>
                </tr>
                <tr>
                  <th><%= I18n.t('missions.amount_left') %></th>
                  <td><%= mission.enemy_amount %></td>
                </tr>
              <% elsif mission.delivery? %>
                <tr>
                  <th><%= I18n.t('missions.mission_location') %></th>
                  <td><%= Location.find(mission.deliver_to).get_name %> - <%= Location.find(mission.deliver_to).system_name %></td>
                </tr>
                <tr>
                  <th><%= I18n.t('missions.item') %></th>
                  <td><%= Item.get_attribute(mission.mission_loader, :name) rescue "" %></td>
                </tr>
                <tr>
                  <th><%= I18n.t('missions.amount_left') %></th>
                  <td><%= mission.mission_amount %></td>
                </tr>
              <% end %>
            </tr>
          </tbody>
        </table>
        
        <div>
          <p><strong><%= I18n.t('missions.route') %></strong></p>
          <button class="btn btn-outline-primary plot-route-btn" data-id="<%= mission.location.system_id %>"><%= I18n.t('missions.agent') %></button>
          <% if mission.mission_location %>
            <button class="btn btn-outline-primary plot-route-btn" data-id="<%= mission.mission_location.system_id %>"><%= I18n.t('missions.location') %></button>
          <% elsif mission.deliver_to %>
            <button class="btn btn-outline-primary plot-route-btn" data-id="<%= Location.find(mission.deliver_to).system.id %>"><%= I18n.t('missions.location') %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>