<% if market_listings.present? %>
  <table class="table table-bordered table-hover table-striped table-sm table-fixed station-market-table">
    <thead>
      <tr>
        <th scope="col">Qty.</th>
        <th scope="col"><%= I18n.t('items.name') %></th>
        <th scope="col"><%= I18n.t('items.type') %></th>
        <th scope="col"><%= I18n.t('market.single') %></th>
        <th scope="col" class="mobile-display-none"><%= I18n.t('market.total') %></th>
        <th scope="col" style="width: 1px;"></th>
      </tr>
    </thead>
    <tbody>
      <% market_listings.sort_by{ |ml| ml.price }.each do |ml| %>
        <% if ml.item? %>
          <tr>
            <td><%= ml.amount %>&times;</td>
            <% if ml.loader.include? "equipment" %>
              <td><a href="#" class="equipment-info" data-loader="<%= ml.loader %>"><%= get_item_attribute(ml.loader, 'name') %></a></td>
            <% else %> 
              <td><%= get_item_attribute(ml.loader, 'name') %></td>
            <% end %>
            <td><%= get_item_attribute(ml.loader, 'type') %></td>
            <td class="color-highgreen"><%= ml.price %> Cr</td>
            <td class="mobile-display-none"><%= ml.price * ml.amount %> Cr</td>
            <td>
              <button class="btn btn-outline-success" role="button" data-toggle="modal" data-target="#market-buy-<%= ml.id %>"><i class="fa fa-dollar-sign"></i></button>
            </td>
          </tr>
        <% else %>
          <tr>
            <td><%= ml.amount %>&times;</td>
            <td><a href="#" class="ship-info" data-name="<%= ml.loader.capitalize %>"><%= ml.loader.capitalize %></a></td>
            <td><%= I18n.t('market.ship') %></td>
            <td class="color-highgreen"><%= ml.price %> Cr</td>
            <td class="mobile-display-none"><%= ml.price * ml.amount %> Cr</td>
            <td>
              <a class="btn btn-outline-success" role="button" data-toggle="modal" data-target="#market-buy-<%= ml.id %>"><i class="fa fa-dollar-sign"></i></a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2 class="text-center">...</h2>
<% end %>

<!-- MODALS -->
<% market_listings.each do |ml| %>
  <div class="modal fade" id="market-buy-<%= ml.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= I18n.t('market.confirm_purchase') %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p><%= I18n.t('modal.how_much_buy') %></p>
          <div class="input-group mb-3">
            <input type="number" class="form-control market-buy-input" value="1">
            <div class="input-group-append">
              <button class="btn btn-outline-primary max-buy-btn" data-amount="<%= ml.amount %>" data-price="<%= ml.price %>"><%= I18n.t('modal.max') %></button>
            </div>
          </div>
        
          <h5><%= I18n.t('market.price') %>: <span class="color-highgreen"><%= ml.price %> Cr</span></h5>
          <% if ml.ship? %>
            <%= I18n.t('modal.sure_buy', name: ml.loader) %>
          <% else %>
            <%= I18n.t('modal.sure_buy', name: get_item_attribute(ml.loader, 'name')) %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary market-buy-btn" data-id="<%= ml.id %>"><%= I18n.t('modal.buy') %></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>