<% if market_listings.present? %>
  <table class="table table-bordered table-hover table-striped table-sm table-fixed station-market-table">
    <thead>
      <tr>
        <th scope="col"><%= I18n.t('items.name') %></th>
        <th scope="col"><%= I18n.t('items.type') %></th>
        <th scope="col"><%= I18n.t('ships.price') %></th>
        <th scope="col" style="width: 63px;"></th>
      </tr>
    </thead>
    <tbody>
      <% market_listings.sort_by{ |ml| ml.price }.each do |ml| %>
        <% if ml.item? %>
          <tr>
            <td><%= get_item_attribute(ml.loader, 'name') %></td>
            <td><%= get_item_attribute(ml.loader, 'type') %></td>
            <td class="color-highgreen"><%= ml.price %> Cr</td>
            <td>
              <button class="btn btn-outline-primary" role="button" data-toggle="modal" data-target="#market-item-<%= ml.loader.gsub('.', '-') %>" <%= 'disabled' unless  ml.loader.include? "equipment" %>><i class="fa fa-info"></i></button>
              <button class="btn btn-outline-success" role="button" data-toggle="modal" data-target="#market-buy-<%= ml.id %>"><i class="fa fa-dollar-sign"></i></button>
            </td>
          </tr>
        <% else %>
          <tr>
            <td><%= ml.loader.capitalize %></td>
            <td><%= I18n.t('market.ship') %></td>
            <td class="color-highgreen"><%= ml.price %> Cr</td>
            <td>
              <a class="btn btn-outline-primary" role="button" data-toggle="modal" data-target="#market-ship-<%= ml.loader %>"><i class="fa fa-info"></i></a>
              <a class="btn btn-outline-success" role="button" data-toggle="modal" data-target="#market-buy-<%= ml.id %>"><i class="fa fa-dollar-sign"></i></a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2 class="text-center">...</h2>
<% end %>

<!-- MODALS -->
<% market_listings.each do |ml| %>
  <% if ml.ship? %>
    <% value = SHIP_VARIABLES[ml.loader] %>
    <div class="modal fade" id="market-ship-<%= ml.loader %>" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%= ml.loader %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render partial: 'ships/vars', locals: {value: value} %>
          </div>
        </div>
      </div>
    </div>
  <% elsif ml.loader.include?('equipment') %>
    <% item = ml.loader %>
    <div class="modal fade" id="market-item-<%= item.gsub('.', '-') %>" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%= get_item_attribute(item, 'name') %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render partial: 'items/vars', locals: {item: item} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="modal fade" id="market-buy-<%= ml.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= I18n.t('market.confirm_purchase') %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
        <h5><%= I18n.t('market.price') %>: <span class="color-highgreen"><%= ml.price %> Cr</span></h5>
          <% if ml.ship? %>
            <%= I18n.t('modal.sure_buy', name: ml.loader) %>
          <% else %>
            <%= I18n.t('modal.sure_buy', name: get_item_attribute(ml.loader, 'name')) %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary market-buy-btn" data-id="<%= ml.id %>"><%= I18n.t('modal.buy') %></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>