<div class="modal fade" id="market-sell" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('market.confirm_sell') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= I18n.t('modal.how_much_sell') %></p>
        <div class="input-group mb-3">
          <input type="number" class="form-control custom-quantity" value="1">
          <div class="input-group-append">
            <button class="btn btn-outline-primary max-btn"><%= I18n.t('modal.max') %></button>
          </div>
        </div>
        
        <% if current_user.location.player_market %>
          <div class="text-left">
            <p><%= I18n.t('market.price_of_each') %>?</p>
            <div class="input-group mb-3">
              <input type="number" class="form-control custom-sell-price" value="1" min=0>
              <div class="input-group-append">
                <span class="input-group-text">Cr</span>
              </div>
            </div>
          </div>
        <% else %>
          <div class="text-center">
            <h5><%= I18n.t('market.price') %>: <span class="color-highgreen" id="selling-price"></span></h5>
            <%= I18n.t('modal.sure_sell') %>
          </div>
        <% end %>
        
        <p class="display-none ship-not-empty text-center color-red mt-3"><%= I18n.t('market.ship_not_empty') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary market-sell-btn" data-loader=""><%= I18n.t('modal.sell') %></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t('modal.close') %></button>
      </div>
    </div>
  </div>
</div>