<table class="table table-bordered table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t('mails.sender') %></th>
      <th scope="col"><%= I18n.t('mails.recipient') %></th>
      <th scope="col"><%= I18n.t('mails.header') %></th>
      <th scope="col"><%= I18n.t('mails.created_at') %></th>
      <th class="btn-th"></th>
    </tr>
  </thead>
  <tbody>
     <% mails.each do |mail| %>
       <tr>
         <td><%= mail.sender.full_name %></td>
         <td><%= mail.recipient.full_name %></td>
         <td><%= mail.header %></td>
         <td><%= mail.created_at.strftime('%F %H:%M') %></td>
         <td>
           <button class="btn btn-outline-primary show-mail-btn" data-id="<%= mail.id %>">
             <i class='fa fa-eye'></i>
           </button>
         </td>
       </tr>
     <% end %>
  </tbody>
</table>