<div class="card black-card" id="mail-show-card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6 field">
        <label><strong><%= I18n.t('mails.sender') %>:</strong></label>
        <%= mail.sender.full_name %>
      </div>
      <div class="col-md-6 field">
        <label><strong><%= I18n.t('mails.recipient') %>:</strong></label>
        <%= mail.recipient.full_name %>
      </div>
      <div class="col-md-6 field">
        <label><strong><%= I18n.t('mails.header') %>:</strong></label>
        <%= mail.header %>
      </div>
      <% if mail.units and mail.units > 0 %>
        <div class="col-md-6 field">
          <label><strong>Units:</strong></label>
          <%= mail.units.to_s %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <%= simple_format(mail.body) %>
  </div>
</div>