<tr>
  <td>
    <%= image_tag("avatars/#{message.user.avatar}.jpg", class: 'float-left') %>
    <a href="#" class="player-modal" data-id=<%= message.user.id %>><strong><%= message.user.full_name %></strong></a>
    <span class="float-right"><%= message.created_at.strftime("%H:%M") %></span><br>
    <%= message.body %>
  </td>
</tr>