<tr>
  <td>
    <%= image_tag("avatars/#{message.user.avatar}.jpg", class: 'float-left') %>
    <a href="#" class="player-modal" data-id=<%= message.user.id %>>
      <% if message.user.corporation %>
        <strong>[<%= message.user.corporation&.ticker %>]</strong>
      <% end %>
      <strong class="<%= 'text-primary' if message.user.full_name == "Gerno Utrigas" || message.user.donator %>">
        <%= message.user.full_name %>
      </strong>
    </a>
    <% if message.user.full_name == "Gerno Utrigas" %>
      <%= image_tag('badges/donator-old.svg', style: 'height: 13px;margin-top: 2px;') %>
    <% end %>
    <span class="float-right"><%= message.created_at.strftime("%H:%M") %></span><br>
    <p><%= message.body %></p>
  </td>
</tr>