<ul class="nav nav-tabs mt-5px" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" data-target="#cargohold-storage" href="#0" role="tab"><%= I18n.t('ships.storage') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" data-target="#cargohold-equipment" href="#0" role="tab"><%= I18n.t('ships.equipment') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" data-target="#cargohold-assets" href="#0" role="tab"><%= I18n.t('navbar.assets') %></a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="cargohold-storage" role="tabpanel">
    <table class="table table-bordered table-hover table-sm mt-5px mb-5px">
      <% if items.size > 0 %>
        <thead>
          <tr>
            <th scope="col">Qty.</th>
            <th scope="col"><%= I18n.t('items.name') %></th>
            <th scope="col" class="mobile-display-none"><%= I18n.t('items.type') %></th>
            <th scope="col" style="width:135px"><%= I18n.t('items.eject_cargo') %></th>
          </tr>
        </thead>
        <tbody>
          <% items.each do |item| %>
            <tr>
              <td><%= item.count %>&times;</td>
              <% if item.loader.include? "equipment" %>
                <td><a href="#" class="equipment-info" data-loader="<%= item.loader %>"><%= item.get_attribute('name') %></a></td>
              <% else %>
                <td><%= item.get_attribute('name') %></td></td>
              <% end %>
              <td class="mobile-display-none"><%= item.get_attribute('type') %></td>
              <td>
                <div class="input-group">
                  <input type="number" class="form-control eject-input" placeholder="Amount" value="<%= item.count %>">
                  <div class="input-group-append">
                    <button class="btn btn-outline-warning eject-cargo-btn" type="button" data-toggle="tooltip" data-placement="top" title="<%= I18n.t('tooltips.eject_cargo') %>" data-loader="<%= item.loader %>">
                      <i class="fa fa-angle-double-up"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <tr>
          <h2 class="text-center">...</h2>
        </tr>
      <% end %>
    </table>
  </div>
  
  <div class="tab-pane fade" id="cargohold-equipment" role="tabpanel">
    <div class="card black-card main-equipment-card mt-5px mb-3">
      <h5 class="card-header"><%= I18n.t('equipment.main_equipment') %> (<%= current_user.active_spaceship.get_attribute('main_equipment_slots') %>)</h5>
      <div class="card-body">
        <div class="row" id="main-equipment-sortable">
          <% current_user.active_spaceship.get_main_equipment.each do |item| %>
            <%= render partial: 'equipment/equipment', locals: {item: item} %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="card black-card utility-equipment-card">
      <h5 class="card-header"><%= I18n.t('equipment.utility_equipment') %> (<%= current_user.active_spaceship.get_attribute('utility_equipment_slots') %>)</h5>
      <div class="card-body">
        <div class="row" id="utility-equipment-sortable">
          <% current_user.active_spaceship.get_utility_equipment.each do |item| %>
            <%= render partial: 'equipment/equipment', locals: {item: item} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="tab-pane fade" id="cargohold-assets" role="tabpanel">
    <% locations.each do |loc| %>
      <% location = Location.find(loc) %>
      <% ships = Spaceship.where(user: current_user, location: location) %>
      <% items = location.get_items(current_user.id) %>
      
      <div class="card black-card mt-5px">
        <h5 class="card-header">
          <%= location.system_name %> - <%= location.get_name %> (<%= ships.count + items.count %>)
          <div class="float-right">
            <button class="btn btn-outline-primary plot-route-btn p-0-5" data-id="<%= location.system_id %>"><%= I18n.t('game.route') %></button>
            <a data-toggle="collapse" data-target="#collapse-asset-<%= loc %>" href="#0">
              <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-right"></i></div>
            </a>
          </div>
        </h5>
        <div class="collapse" id="collapse-asset-<%= loc %>">
          <div class="card-body">
            <% if ships.count > 0 %>
              <h5>Ships</h5>
              <% ships.each do |ship| %>
                <%= ship.name %><br>
              <% end %>
            <% end %>
            
            <% if items.count > 0 %>
              <h5>Items</h5>
              <% items.each do |item| %>
                <%= item.count %>&times; <%= item.get_attribute('name') %><br>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>