<div class="card black-card ship-inventory-card">
  <h4 class="card-header"><%= I18n.t('ships.inventory') %></h4>
  <div class="card-body">
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Qty.</th>
          <th scope="col"><%= I18n.t('items.name') %></th>
          <th scope="col"><%= I18n.t('items.type') %></th>
          <th class="btn-th"></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |loader, times| %>
          <tr>
            <td><%= times %>x</td>
            <td><%= Item.find_by(loader: loader).get_attribute('name') %></td>
            <td><%= Item.find_by(loader: loader).get_attribute('type') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>