<p><strong><%= I18n.t('equipment.statistics') %></strong></p>
<table class="table table-bordered table-sm table-striped">
  <tr>
    <th><%= I18n.t('equipment.slot_type') %></th>
    <td><%= get_item_attribute(item, 'slot_type').capitalize %></td>
  </tr>
  <% if get_item_attribute(item, 'slot_type') == "main" %>
    <tr>
      <th><%= I18n.t('equipment.septarium_usage') %></th>
      <td><%= get_item_attribute(item, 'septarium_usage').to_f %></td>
    </tr>
  <% end %>
  <% case get_item_attribute(item, 'type') %>
  <% when "Weapon" %>
    <tr>
      <th><%= I18n.t('equipment.damage') %></th>
      <td><%= get_item_attribute(item, 'damage').to_f %></td>
    </tr>
  <% when "Defense" %>
    <tr>
      <th><%= I18n.t('equipment.defense_amplifier') %></th>
      <td><%= get_item_attribute(item, 'defense_amplifier').to_f %></td>
    </tr>
  <% when "Storage" %>
    <tr>
      <th><%= I18n.t('equipment.storage_amplifier') %></th>
      <td><%= get_item_attribute(item, 'storage_amplifier').to_f %></td>
    </tr>
  <% when "Mining Laser" %>
    <tr>
      <th><%= I18n.t('equipment.mining_amount') %></th>
      <td><%= get_item_attribute(item, 'mining_amount').to_f %></td>
    </tr>
  <% when "Hull" %>
    <tr>
      <th><%= I18n.t('equipment.align_amplifier') %></th>
      <td><%= get_item_attribute(item, 'align_amplifier').to_f %></td>
    </tr>
  <% when "Scanner" %>
    <tr>
      <th><%= I18n.t('equipment.target_amplifier') %></th>
      <td><%= get_item_attribute(item, 'target_amplifier').to_f %></td>
    </tr>
  <% when "Repair Bot" %>
    <tr>
      <th><%= I18n.t('equipment.repair_amount') %></th>
      <td><%= get_item_attribute(item, 'repair_amount').to_f %></td>
    </tr>
  <% when "Warp Disruptor" %>
    <tr>
      <th><%= I18n.t('equipment.disrupt_strength') %></th>
      <td><%= get_item_attribute(item, 'disrupt_strength') %></td>
    </tr>
  <% when "Warp Core Stabilizer" %>
    <tr>
      <th><%= I18n.t('equipment.disrupt_immunity') %></th>
      <td><%= get_item_attribute(item, 'disrupt_immunity') %></td>
    </tr>
  <% end %>
</table>