<div class="card black-card">
  <h5 class="card-header"><%= sys.name %></h5>
  <div class="card-body">
    <table class="table table-sm table-bordered table-striped">
      <tr>
        <th><%= I18n.t('systems.security_status') %></th>
        <td class="color-sec-<%= sys.security_status %>"><%= sys.security_status.capitalize %></td>
      </tr>
      <tr>
        <th><%= I18n.t('systems.stations') %></th>
        <td><%= sys.locations.where(location_type: 'station').count %></td>
      </tr>
      <tr>
        <th><%= I18n.t('systems.asteroid_fields') %></th>
        <td><%= sys.locations.where(location_type: 'asteroid_field').count %></td>
      </tr>
    </table>
    
    <button class="btn btn-outline-primary get-route-btn" data-id="<%= sys.id %>" <%= 'disabled' if sys == current_user.system %>><%= I18n.t('routing.get_route') %></button>
    
    <% if current_user&.active_spaceship&.has_jump_drive? and (sys.high? || sys.medium?) and (current_user.system.medium? || current_user.system.high?) and current_user.can_be_attacked? %>
      <button class="btn btn-outline-info jump-drive-btn" data-id="<%= sys.id %>" <%= 'disabled' if sys == current_user.system %>><%= I18n.t('routing.jump') %></button>
    <% end %>
  </div>
</div>