<nav class="navbar navbar-expand-lg navbar-dark bg-dark <%= 'fixed-top' if current_user %>">
    <a class="navbar-brand" href="/<%= 'game' if current_user %>"><%= image_tag('logo.png') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <% if current_user %>
          <%= navbar_item(main_app.game_path, 'navbar.game') %>
          <%= navbar_item(main_app.corporations_path, 'navbar.corporation', CorpApplication.where(corporation: current_user.corporation).count ) %>
          <%= navbar_item(main_app.game_mails_path, 'navbar.mails', GameMail.where(recipient_id: current_user.id, read: false).count) %>
          <%= navbar_item(main_app.map_path, 'navbar.map') %>
          <%= link_to I18n.t('navbar.forum'), 'https://forums.stellar-invictus.com/', target: '_blank', class: 'nav-link' %>
          <div class="mobile-ml-0 mobile-mb-1" style="margin-top:7px;margin-left:5px">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick" />
              <input type="hidden" name="hosted_button_id" value="PTXZHALEG5QAY" />
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>

          </div>
        <% else %>
          <%= navbar_item(main_app.root_path, 'navbar.home') %>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if current_user %>
          <div class="dropdown">
            <a data-toggle="dropdown"><%= image_tag("avatars/#{current_user.avatar}.jpg", class: 'navbar-avatar') %> <i class="fa fa-caret-down fa-lg"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
              <p class="dropdown-item mb-0"><%= current_user.full_name.truncate(20) %></p>
              <div class="dropdown-divider"></div>
              <% if current_user.admin %>
                <%= link_to I18n.t('navbar.admin_dashboard'), main_app.admin_path, class: 'dropdown-item' %>
              <% end %>
              <%= link_to I18n.t('navbar.profile'), main_app.edit_user_registration_path, class: 'dropdown-item' %>
              <%= link_to I18n.t('navbar.assets'), main_app.assets_path, class: 'dropdown-item' %>
              <%= link_to I18n.t('navbar.friends'), main_app.friends_path, class: 'dropdown-item' %>
              <%= link_to I18n.t('navbar.polls'), main_app.community_path, class: 'dropdown-item' %>
              <%= link_to I18n.t('navbar.logout'), main_app.destroy_user_session_path, method: :delete, class: 'dropdown-item', style: 'color: #CC0000', id: 'logout-btn' %>
            </div>
          </div>
        <% else %>
          <%= navbar_item(main_app.nojs_path, 'navbar.connect') %>
        <% end %>
      </ul>
    </div>
</nav>