<!DOCTYPE html>
<html>
  <head>
    <title>Stellar Invictus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-permanent': 'reload' %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
  
    <div class="mt-1rem container">
      <%= render 'layouts/alerts' %>
      
      <%= yield %>
      
      <%= render 'layouts/modals' %>
    </div>
    
    <%= render 'layouts/footer' %>
    
    <script>
      var logged_in = <%= !current_user.nil? %>
    </script>
  </body>
</html>