<!DOCTYPE html>
<html>
  <head>
    <title>Stellar Invictus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="icon"type="image/png" href="/favicon.png">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-permanent': 'reload' %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.5/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53473075-6"></script>
  </head>

  <body class="<%= 'pt-55px mobile-pt-0' if current_user and !current_page?(root_path) %>">
    <%= render 'layouts/navbar' %>
  
    <div class="<%= 'container mb-3 mt-1rem pb-45px' unless current_page?(root_path) %> <%= 'pt-0' if !current_user %>" id="app-container">
      
      <% unless current_page?(root_path) || !current_user %>
        <div class="display-none mobile-display-block">
          <div class="card black-card player-info-card mobile-player-info">
            <%= render 'game/player_info' %>
          </div>
        </div>
      <% end %>
      
      <%= render 'layouts/alerts' %>
      
      <% if current_user&.system %>
        <div class="card black-card mb-3 chat-card mobile-display-block display-none">
          <h5 class="card-header">
            <%= I18n.t('game.chat') %>
            <div class="float-right">
              <a class="btn btn-xs btn-outline-primary p-0-5 text-primary mobile-display-none" onclick="window.open('/game/chat?popup=true',null,'height=500,width=800')"><i class="fa fa-expand-arrows-alt"></i></a>
              <a data-toggle="collapse" data-target="#collapse-chat" href="#0">
                <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-down"></i></div>
              </a>
            </div>
          </h5>
          <div class="collapse" id="collapse-chat">
            <div class="card-body">
              <%= render partial: 'game/chat', locals: {local_messages: @local_messages, system_users: @system_users, global_messages: @global_messages} %>
            </div>
          </div>
        </div>
      <% end %>
      
      <%= yield %>
      
      <%= render 'layouts/modals' %>
    </div>
    
    <div class="<%= 'mobile-display-none' unless current_page?(root_path) || !current_user %>">
      <%= render 'layouts/footer' %>
    </div>
    
    <% unless current_page?(root_path) || !current_user&.system %>
      <div class="display-none mobile-display-block">
        <%= render 'layouts/mobile_nav' %>
      </div>
    <% end %>
    
    <script>
      var logged_in = <%= !current_user.nil? and !current_user.faction.nil? %>
    </script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-53473075-6');
      gtag('config', 'AW-878935501');
    </script>
  </body>
</html>